// https://angular2-tree.readme.io/docs/styling
// @import '~angular-tree-component/dist/angular-tree-component.css';

/*
.angular-tree-component
.angular-tree-component-rtl
.tree-node
.tree-node-wrapper
.tree-node-expanded
.tree-node-collapsed
.tree-node-focused
.tree-node-active
.tree-node-level-X
.tree-node-leaf
.node-wrapper
.toggle-children-wrapper
.toggle-children
.toggle-children-placeholder
.node-content-wrapper
.tree-children
.tree-node-loading
.node-drop-slot
.is-dragging-over
.is-dragging-over-disabled
*/

/* tree-root {
  > tree-viewport {
    > div { // div[style]
      > .angular-tree-component {
        > tree-node-collection {
          > div { // div[style]
            > tree-node {
              > .tree-node { // div.icon-undefined.tree-node-level-1.tree-node.tree-node-expanded
                &.tree-node-expanded {

                }
                > tree-node-drop-slot {
                  display: block;
                  .node-drop-slot {
                    display: block;
                    height: 2px;
                    &.is-dragging-over {
                      background: #ddffee;
                      height: 20px;
                      border: 2px dotted #888;
                    }
                  }
                }
                > tree-node-wrapper {
                  > .node-wrapper {
                    > tree-node-expander {
                      .toggle-children-wrapper {
                        &.toggle-children-wrapper-expanded {

                        }
                        &.toggle-children-wrapper-collapsed {

                        }
                        > .toggle-children {

                        }
                      }
                    }
                    > .node-content-wrapper {
                      > tree-node-content {
                        // Content here
                      }
                    }
                  }
                }
                > tree-node-children {
                  > .tree-children {
                    &.tree-children-no-padding {

                    }
                    > tree-node-collection {
                      // ... structure repeats
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} */

/**
 * HTML & Class Structure
 *
tree-root
  >tree-viewport
    >div[style]
      >.angular-tree-component
        >tree-node-collection
          >div[style]
            tree-node
              >.icon-undefined.tree-node-level-1.tree-node.tree-node-expanded
                >tree-node-drop-slot
                  >.tree-node-drop-slot
                >tree-node-wrapper
                  >.node-wrapper
                    >tree-node-expander
                    >.node-content-wrapper
                      >tree-node-content
                        >{template content}
                >tree-node-children
                  >.tree-children
                    >tree-node-collection
                >tree-node-drop-slot
                  >.tree-node-drop-slot

*/

tree-root,
tree-viewport,
tree-node-collection,
tree-node,
tree-node-drop-slot,
tree-node-wrapper,
tree-node-expander,
tree-node-content,
tree-node-children {
  display: block;
}

tree-root {
  > tree-viewport {
    > div { // [style]
      > .angular-tree-component {
        > tree-node-collection { /* ... */ }
      }
    }
  }
}

tree-root {
  .angular-tree-component {
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* non-prefixed version, currently not supported by any browser */
  }
  tree-node-collection {
    > div { // [style]
      > tree-node {
        > .tree-node { // div.icon-undefined.tree-node-level-1.tree-node.tree-node-expanded
          &.tree-node-expanded {

          }
          &.tree-node-leaf,
          &.tree-node-collapsed {
            std-asset-display .icons i.folder {
              &::before {
                content: "\f114" !important; // closed
              }
            }
          }
          > tree-node-drop-slot {
            display: block;
            .node-drop-slot {
              display: block;
              height: 2px;
              &.is-dragging-over {
                background: #ddffee;
                height: 20px;
                border: 2px dotted #888;
              }
            }
          }
          > tree-node-wrapper {
            > .node-wrapper {
              display: flex;
              align-items: center;
              > tree-node-expander {
                width: 20px;
                > .toggle-children-wrapper {
                  &.toggle-children-wrapper-expanded .toggle-children {
                    &::before {
                      content: "keyboard_arrow_down";
                    }
                  }
                  &.toggle-children-wrapper-collapsed .toggle-children {

                  }
                  > .toggle-children {
                    padding-top: 1px;
                    background: none !important;
                    display: inline-block;
                    opacity: 1;
                    margin: 0;
                    width: 1.18em;
                    height: 1em;
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    text-align: center;
                    speak: none;
                    font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    &::before {
                      background: none !important;
                      content: "keyboard_arrow_right";
                    }
                  }
                }
                > .toggle-children-placeholder {
                  width: 23px;
                  position: relative;
                  display: inline-block;
                }
              }
              > .node-content-wrapper {
                width: calc(100% - 20px);
                // transition: background-color .15s, box-shadow .15s;
                > tree-node-content {

                }
              }
            }
          }
          > tree-node-children {
            > .tree-children {
              padding-left: 20px;
              &.tree-children-no-padding {
                padding-left: 0
              }
              padding-left: 15px;
              > tree-node-collection {
                // ...structure repeats
              }
            }
            .tree-node-loading {
              padding-left: 23px !important;
            }
          }
        }
      }
    }
  }
}

.node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
  background: #beebff;
}

.node-content-wrapper-focused {
  background: #e7f4f9
}

.node-content-wrapper:hover {

}

.node-content-wrapper-active,
.node-content-wrapper-focused {

}

.node-content-wrapper.is-dragging-over {
  background: #ddffee;
  box-shadow: inset 0 0 1px #999;
}

.node-content-wrapper.is-dragging-over-disabled {
  opacity: 0.5
}

.empty-tree-drop-slot .node-drop-slot {
  height: 20px;
  min-width: 100px
}

tree-root .angular-tree-component-rtl {
  direction: rtl;
}

tree-root .angular-tree-component-rtl .toggle-children-wrapper-collapsed .toggle-children {
  transform: rotate(180deg) !important;
}

tree-root .angular-tree-component-rtl .tree-children {
  padding-right: 20px;
  padding-left: 0;
}
