@import "settings";
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core(mat-typography-config(
  $font-family: '#{$font-family}',
    // Note:
    // mat-typography-level(
    //   $font-size,
    //   $line-height: $font-size,
    //   $font-weight: 400,
    //   $font-family: null)
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 600),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 600),
  $body-1: mat-typography-level(16px, 20px, 400),
  $caption: mat-typography-level(14px, 20px, 400),
  $button: mat-typography-level(16px, 16px, 400),
    // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(16px, 1.125, 400)
));

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$studio-material-primary: mat-palette($mat-blue);
$studio-material-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$studio-material-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$studio-material-theme: mat-light-theme($studio-material-primary, $studio-material-accent, $studio-material-warn);

@mixin generate-material-theme {

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($studio-material-theme);

}

$background: map-get($studio-material-theme, background);
$foreground: map-get($studio-material-theme, foreground);
