@import "settings";

//[class*="mat-"] {
//  font-size: 1rem;
//}



mat-chip,
mat-mini-fab,
.mat-fab,
.mat-mini-fab,
.mat-button,
.mat-raised-button,
[mat-button] {
  &.background {
    &.red,
    &.orange,
    &.yellow,
    &.green,
    &.teal,
    &.purple,
    &.pink {
      &, mat-icon {
        color: #fff;
      }
    }
  }
  @each $name, $code in $colors {
    &[color="#{$name}"] {
      &, mat-icon {
        //@if ($name != 'grey-lightest' && $name != 'grey-lighter' && $name != 'grey-light' && $name != 'grey-mid') {
        //
        //} @else if($name != 'white') {
        //
        //} @else {
        //
        //}
        color: #fff;
        background-color: $code;
      }
    }
  }
}

.mat-expanded.allow-overflow {
  > .mat-expansion-panel-content {
    &, > .mat-expansion-panel-body {
      overflow: visible;
    }
  }
}

.mat-expansion-panel {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  box-sizing: content-box;
  display: block;
  margin: 0;
  transition: margin 225ms cubic-bezier(.4, 0, .2, 1)
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  //box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
  box-shadow: none !important;
}

.mat-expansion-panel-content {
  overflow: hidden
}

.mat-expansion-panel-body {
  //margin: 0 24px 16px;
  // padding: 0 24 16px;
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto;
}

.mat-expansion-panel-spacing {
  //margin: 16px 0
  margin: 0 !important
}

.mat-accordion .mat-expansion-panel-spacing:first-child {
  margin-top: 0
}

.mat-accordion .mat-expansion-panel-spacing:last-child {
  margin-bottom: 0
}

.mat-action-row {
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 8px 16px 24px
}

.mat-action-row button.mat-button {
  margin-left: 8px
}

[dir=rtl] .mat-action-row button.mat-button {
  margin-left: 0;
  margin-right: 8px
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  //padding: 0 24px
  padding: 0 15px !important;
}

.mat-expansion-panel-header:focus,
.mat-expansion-panel-header:hover {
  outline: 0
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: inherit
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px
}

[dir=rtl] .mat-expansion-panel-header-description, [dir=rtl] .mat-expansion-panel-header-title {
  margin-right: 0;
  margin-left: 16px
}

.mat-expansion-panel-header-description {
  flex-grow: 2
}

.mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle
}

.mat-expansion-panel-header.no-indicator .mat-expansion-indicator::after {
  border: none !important;
}

/* MatDialog */

.unpadded > .mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-container {
  @media only screen and (max-width: 1000px) {
    max-width: 95vw;
    margin: auto;
  }
}

/* Mat Menu Item */

.compact.mat-menu-item,
.mat-menu-compact .mat-menu-item {
  height: 30px;
  line-height: 30px;
}

mat-menu-divider,
.mat-menu-divider {
  margin: 2px 0;
  display: block;
  border-top: 1px solid #f2f2f2;
}

.mat-menu-content {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* Mat Form Fields */

mat-form-field {
  width: 100%;
}

.no-subscript {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-underline {
    position: static;
  }
}

.no-underline {
  .mat-form-field-underline {
    display: none;
  }
}

.no-infix {
  .mat-form-field-infix {
    border-top: none;
  }
  // mat-form-field-should-float mat-focused
  &.mat-form-field-should-float {
    &, &.mat-form-field-can-float {
      .mat-form-field-label {
        &, &.mat-form-field-empty {
          display: none;
        }
      }
    }
  }
}

.with.icon {
  .mat-form-field-label {
    width: auto;
    left: 1.5rem;
  }
  .mat-form-field-infix {
    padding-left: 1.5rem;
    &::before {
      left: 0;
      top: .4em;
      position: absolute;
      color: $color-grey;
      @include fa-base-styles;
    }
  }
  &.search {
    .mat-form-field-infix::before {
      @include fa(search);
    }
  }
}

/*

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 2px;
  outline: 0
}

.mat-menu-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mat-menu-panel.mat-menu-after.mat-menu-below {
  transform-origin: left top
}

.mat-menu-panel.mat-menu-after.mat-menu-above {
  transform-origin: left bottom
}

.mat-menu-panel.mat-menu-before.mat-menu-below {
  transform-origin: right top
}

.mat-menu-panel.mat-menu-before.mat-menu-above {
  transform-origin: right bottom
}

[dir=rtl] .mat-menu-panel.mat-menu-after.mat-menu-below {
  transform-origin: right top
}

[dir=rtl] .mat-menu-panel.mat-menu-after.mat-menu-above {
  transform-origin: right bottom
}

[dir=rtl] .mat-menu-panel.mat-menu-before.mat-menu-below {
  transform-origin: left top
}

[dir=rtl] .mat-menu-panel.mat-menu-before.mat-menu-above {
  transform-origin: left bottom
}

.mat-menu-panel.ng-animating {
  pointer-events: none
}

@media screen and (-ms-high-contrast: active) {
  .mat-menu-panel {
    outline: solid 1px
  }
}

.mat-menu-content {
  padding-top: 8px;
  padding-bottom: 8px
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  position: relative
}

.mat-menu-item[disabled] {
  cursor: default
}

[dir=rtl] .mat-menu-item {
  text-align: right
}

.mat-menu-item .mat-icon {
  margin-right: 16px
}

[dir=rtl] .mat-menu-item .mat-icon {
  margin-left: 16px;
  margin-right: 0
}

.mat-menu-item .mat-icon {
  vertical-align: middle
}

.mat-menu-item-submenu-trigger {
  padding-right: 32px
}

.mat-menu-item-submenu-trigger::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent currentColor;
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%)
}

[dir=rtl] .mat-menu-item-submenu-trigger {
  padding-right: 8px;
  padding-left: 32px
}

[dir=rtl] .mat-menu-item-submenu-trigger::after {
  right: auto;
  left: 16px;
  transform: rotateY(180deg) translateY(-50%)
}

button.mat-menu-item {
  width: 100%
}

.mat-menu-ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute
}

*/
