
/* // Semantic UI \\ */
$import-google-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i' !default;
$font-name: 'Open Sans' !default;
$font-family: $font-name, sans-serif !default;
$icons-font-path: '../../node_modules/semantic-ui-sass/icons' !default;
$flags-image-path: '../../node_modules/semantic-ui-sass/images' !default;
/* \\ Semantic UI // */

$mat-font-family: $font-family;

// App

// 2.5 Colors
//$action-light: #AFCEED;
//$action-medium: #7E9DBB;
//$action-dark: #506F8B;

$action-light: #66b4ff;
$action-medium: #2185d0;
$action-dark: #00599e;

$studio-logo: #283277;
$color: #C5C5C5;
$grey-main: #F8F8F8;
$grey-header: #EBEBEB;

$spacing-sm: 15px;
$spacing-conservative: 20px;
$spacing-lg: 40px;

$font-size-base: 16px;

// Sidebar

$sidebar-width: 300px !default;
$sidebar-width-sm: 220px !default;
$sidebar-width-collapsed: 65px !default;
$sidebar-background-color: $grey-main !default;
$sidebar-border-color: #C8C8C8 !default;

@mixin open-sans-light {
  font-weight: 300;
}

@mixin open-sans-regular {
  font-weight: 400;
}

@mixin open-sans-bold {
  font-weight: 700;
}

@mixin open-sans-italic {
  font-style: italic;
}

@mixin padding($type: 'default', $axis: 'x') {
  //@if ($type)
  //@else if()
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
