@import "../../styles/settings";
@import "~@angular/material/theming";

:host {

}

.mat-card {
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper {
  padding: 0;
  display: flex;
  @include widths();
  // Desktop only
  @include heights();
}



.breadcrumbs {
  height: 70px;
  display: flex;
  align-items: center;
}

a.crumb.mat-button {
  min-width: 0;
  @include ellipsis;
  padding: 0 $spacing-tiny;
}

.crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.crumb.wrap {
  display: inline-block;
}
