@import "../../styles/settings";

.preview-container {

  position: absolute;
  left: 0;
  right: 0;
  top: 52px;
  bottom: 0;

  .tabbed & {
    top: 82px;
  }

  iframe,
  std-iframe,
  std-image-viewer,
  std-font-visualizer,
  std-code-editor,
  std-audio-player,
  std-video-player {
    height: 100%;
    width: 100%;
  }

}

.address-bar {
  //.controls {
  //  display: flex;
  //  padding: 9px 5px;
  //  flex-wrap: nowrap;
  //}
  //.control {
  //  position: relative;
  //  border-radius: 5px;
  //  i {
  //    position: absolute;
  //    top:2px;
  //    bottom:0;
  //    right:0;
  //    left:0;
  //    font-size: 25px;
  //    &::before {
  //      top: 2px;
  //      position: relative;
  //    }
  //  }
  //}
  .control,
  .project-display,
  input.address-input {
    margin: 0;
    padding: 0;
  }
  .project-display,
  input.address-input {
    border: none;
    background: transparent;
  }
  .back-button,
  .forward-button,
  .share-button,
  .new-tab-button,
  .refresh-button {
    flex-basis: 30px;
    margin-right: 5px;
  }
  .new-tab-button {

  }
  .input-skin {
    height: 33px;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 5px;
    position: relative;
    align-items: center;
    background: #e0e0e0;
    padding-right: .2em;
    box-shadow: inset -1px 1px 3px rgba(#333,.3);
  }
  .project-display {
    height: 100%;
    .icon {

    }
    .text {
      color: #000;
      height: 100%;
      overflow: hidden;
      padding-left: .6em;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include open-sans-semi-bold;
    }
  }
  input.address-input {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  .projectmap-button {
    width: 30px;
    flex-basis: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      background: $gray-light;
    }
  }
  //.tab.bar {
  //  display: none;
  //  flex-wrap: nowrap;
  //  .tabbed & {
  //    display: flex;
  //  }
  //  .tab {
  //    color: #666;
  //    height: 30px;
  //    flex-grow: 1;
  //    display: flex;
  //    overflow: hidden;
  //    line-height: 30px;
  //    text-align: center;
  //    position: relative;
  //    border-top: 1px solid $grey-header;
  //    border-right: 1px solid $grey-header;
  //    &.active {
  //      cursor: default;
  //      background-color: #ffffff;
  //    }
  //    &:last-child {
  //      border-right: none;
  //    }
  //    .main {
  //      padding: 0;
  //      flex-grow: 1;
  //      cursor: pointer;
  //      overflow: hidden;
  //      text-align: center;
  //      white-space: nowrap;
  //      text-overflow: ellipsis;
  //      max-width: calc(100% - 30px);
  //    }
  //    .close {
  //      width: 30px;
  //    }
  //    /*button {
  //      top: 0px;
  //      right: 0px;
  //      height: 30px;
  //      line-height: 26px;
  //      position: absolute;
  //    }*/
  //  }
  //}
}
