<header>

  <a class="logo wrapper" [routerLink]="['/']">
    <img class="logo" [src]="logoImage">
    <span class="text">Crafter Studio</span>
  </a>

  <button mat-button class="toggle minimise mat-icon-button" (click)="toggleMinimised()">
    <mat-icon>arrow_back</mat-icon>
  </button>

</header>

<perfect-scrollbar class="content" [ngClass]="{ themify: reveal, background: reveal }" [disabled]="!viewInitialized || isMobile || settings.nativeScrollbars">
  <std-sidebar></std-sidebar>
</perfect-scrollbar>

<footer>
  <std-user-menu></std-user-menu>
</footer>
