@import '../../styles/settings';
@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  &, .content {
    width: $sidebar-width-sm;
    min-width: $sidebar-width-sm;
    max-width: $sidebar-width-sm;
    @media (min-width: $sidebar-breakpoint-sm) {
      width: $sidebar-width;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
    }
  }
  &.minimised {
    width: $sidebar-width-minimised;
    min-width: $sidebar-width-minimised;
    max-width: $sidebar-width-minimised;
  }
  &.reveal {
    overflow: visible;
    .content {
      @include mat-elevation(5);
    }
    &.right {
      .content {
        transition: all 200ms ease;
        transform: translateX(-($sidebar-width - $sidebar-width-minimised));
      }
    }
  }
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
  @include mat-elevation(3);
  transition:
    all 250ms cubic-bezier(.55, 0, .55, .2),
    width 250ms linear,
    min-width 250ms linear,
    max-width 250ms linear;
  &.minimised {
    .logo.wrapper {
      display: none;
    }
    .toggle.minimise mat-icon {
      transform: rotate(180deg);
    }
  }
  &.right {
    .toggle.minimise mat-icon {
      transform: rotate(180deg);
    }
    &.minimised {
      .toggle.minimise mat-icon {
        transform: rotate(0deg);
      }
    }
  }
  &:not(.minimised) {
    header {

    }
  }
}

header, footer {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 64px;
  min-height: 64px;
  justify-content: space-between;
  transition: padding 200ms ease;
  background-color: rgba(255, 255, 255, .05);
  @include mat-elevation(1);
  .logo.wrapper {
    display: flex;
    align-items: center;
    .logo {
      height: 55px;
    }
    .text {
      display: none;
      margin-left: 8px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.4px;
    }
  }
}

.content {
  flex: 1;
  //background-color: $grey-main;
}

footer {
  padding: 0;
}

std-user-menu {
  width: 100%;
  height: 100%;
}
