@import "../../styles/settings";

:host {
  ::ng-deep {
    .mat-tab-labels {
      place-content: center;
    }
    .mat-tab-label {
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        min-width: 100px;
      }
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        min-width: 90px;
      }
      @media (max-width: map-get($grid-breakpoints, 'sm')) {
        min-width: 80px;
      }
    }
  }
}
