
<tree-root *ngIf="nodes && nodes.length"
           [nodes]="nodes"
           [options]="options"
           [state]="treeState"
           (stateChange)="treeStateChanged($event)">

  <ng-template #treeNodeTemplate let-node let-index="index">
    <std-asset-display [asset]="node.data" [showStatusIcons]="node.data.type !== 'FOLDER'"></std-asset-display>
  </ng-template>

  <!--<template #loadingTemplate>
    <mat-spinner></mat-spinner> Loading, please hold....
  </template>-->

</tree-root>

<div class="text-muted" *ngIf="!nodes || !nodes.length">
  (No children to display)
</div>
