<div class="transparent tabbed view container">
  <div class="transparent title bar">
    <div class="address-bar">

      <!--<section class="ui controls">
        <button class="ui mini icon button"><i class="icon chevron left"></i></button>
        <button class="ui mini icon button"><i class="icon chevron right"></i></button>
        <button class="ui mini icon button"><i class="icon refresh"></i></button>
        <button class="ui mini basic green icon button" (click)="foo()"><i class="icon plus" title="New Tab"></i></button>
      </section>-->

      <nav class="ui tab bar" *ngIf="sessionAssetsHaveLoaded$ | async">
        <div class="tab"
             *ngFor="let tab of sessions"
             [class.edited]="(tab.status === 'dirty')"
             [class.active]="(active) && (tab.id === active.id)">
          <button (click)="selectTab(tab)" class="main">
            <std-asset-display
              *ngIf="assets[tab.assetId]"
              [asset]="assets[tab.assetId]"
              [disallowWrap]="false"
              [showLink]="false"
              [showLabel]="true"
              [showStatusIcons]="true"
              [showMenu]="false"></std-asset-display>
          </button>
          <button class="close" title="Close"
                  *ngIf="(tab.status !== 'closing')"
                  (click)="closeTab(tab)"
                  translate>&times;</button>
          <mat-spinner *ngIf="tab.status === 'closing'" [diameter]="25" [strokeWidth]="5"></mat-spinner>
        </div>
      </nav>

      <nav class="ui tab bar" *ngIf="!sessionAssetsHaveLoaded$ | async">
        <div class="tab" *ngFor="let tab of sessions">
          <button class="main">
            <span>...</span>
          </button>
        </div>
      </nav>

    </div>
  </div>
  <div class="edit content">
    <ng-container [ngSwitch]="renderer">
      <std-editor (data$)="updateSession($event)" *ngSwitchCase="'CodeEditorComponent'"></std-editor>
      <std-plugin-host *ngSwitchCase="'PluginHostComponent'"></std-plugin-host>
      <std-spinner class="take over" *ngSwitchCase="'determining'"></std-spinner>
      <div *ngSwitchCase="'none'">
        <div class="center muted text pad lg all" translate>Nothing is selected for editing right now.</div>
      </div>
    </ng-container>
  </div>
</div>
