@import "../../styles/settings";

:host {

}

.title.bar {
  height: 80px;
}

.edit.content {
  height: calc(100% - 80px);
}


.ui.tab.bar .tab {
  &.edited {
    /deep/ std-asset-display .label {
      color: $color-blue;
    }
  }
}
