@import "../../styles/settings";

:host {

}

.title.bar {
  //height: 80px;
  height: 30px;
}

.edit.content {
  overflow: visible;
  //height: calc(100% - 80px);
  height: calc(100% - 30px);
}


.ui.tab.bar .tab {
  &.edited {
    /deep/ std-asset-display .label {
      color: $color-yellow-darkend;
    }
  }
}
