<div class="view-container">
  <std-view-title-bar
    i18n-title
    [title]="!site ? 'Site Dashboard' : site.name + ' Dashboard'"
    icon="fa fa-tachometer">
  </std-view-title-bar>
  <div class="content transparent">

    <div class="wrapper">
      <div class="ui two column doubling grid top padded">
        <div class="column">
          <std-item-list-dashlet
            [site]="site"
            [fetchType]="pending"
            title="Pending Approval">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [site]="site"
            [fetchType]="scheduled"
            title="Scheduled">
          </std-item-list-dashlet>
        </div>
      </div>
      <div class="ui two column doubling grid bottom padded">
        <div class="column">
          <std-item-list-dashlet
            [site]="site"
            [fetchType]="activity"
            title="My Activity">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [site]="site"
            [fetchType]="published"
            title="Published">
          </std-item-list-dashlet>
        </div>
      </div>
    </div>

  </div>
</div>
