@import "../../styles/settings";

:host {
  margin: auto;
  max-width: 600px;
  padding: $spacing-conservative;
}

.font-display {
  font-size: 1.5em;
  line-height: 1.5;
  margin: $spacing-md 0;
  padding: $spacing-conservative;
  border: 1px solid $color-gray;
  font-family: 'Studio-Font-Visualizer', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui.form {
  margin-bottom: $spacing-conservative;
}
