@import "../../styles/settings";

::ng-deep std-spinner {
  display: flex;
  text-align: center;
  align-items: center;
  margin: $spacing-lg auto;
  &.opaque {
    background: rgba($gray-light, .6);
    //-webkit-filter: blur($blur);
    //-moz-filter: blur($blur);
    //-o-filter: blur($blur);
    //-ms-filter: blur($blur);
    //filter: blur($blur);
  }
  &.cover,
  &.take.over,
  &.take-over {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.wrapper {
  width: 100%;
}

mat-spinner {
  margin: 0 auto $spacing-conservative;
}

.info {

}
