<div class="view-container">
  <std-view-title-bar
    i18n-title
    title="Project Management"
    icon="fa fa-laptop">
    <button class="ui basic green button" [routerLink]="['/projects/create']">Create Project</button>
    <button class="ui icon button" (click)="load()"><i class="icon refresh"></i></button>
  </std-view-title-bar>
  <ng-container [ngSwitch]="loading$ | async">

    <div class="relative position flex grow full height" *ngSwitchCase="true">
      <std-spinner class="absolute position opaque cover">
        Loading Projects&hellip;
      </std-spinner>
    </div>

    <div class="content" *ngSwitchCase="false">
      <table class="ui selectable flat basic table">
        <thead class="uppercase">
        <tr>
          <th>Handle</th>
          <th>Name</th>
          <th>Description</th>
          <th>Groups</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4">
            <mat-form-field class="no-subscript no-infix no-underline with search icon">
              <input placeholder="Search..." i18n-placeholder
                     matInput type="text"
                     [formControl]="filterQuery">
            </mat-form-field>
          </td>
        </tr>
        <tr class="is-interactive highlight-interaction bg"
            *ngFor="let project of projects" [routerLink]="['/projects', project.code]">
          <td>{{project.code}}</td>
          <td>{{project.name}}</td>
          <td>{{project.description}}</td>
          <td>{{project.groups || 0}}</td>
        </tr>
        </tbody>
      </table>
      <mat-paginator (page)="pageChanged($event)"
                     [length]="totalNumOfProjects"
                     [pageIndex]="(pager$ | async).pageIndex"
                     [pageSize]="(pager$ | async).pageSize"
                     [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>

  </ng-container>
</div>
