.user-group-manager {
  .item {
    min-height: 50px;
    .meta {
      width: 35%;
    }
    .action {
      width: 65%;
    }
  }
}


::ng-deep .mat-chip-list-wrapper {
  align-items: center !important;
}
