<div class="user-group-manager">

  <std-spinner class="loader" *ngIf="!dataFetchComplete">
    Loading project &amp; group information&hellip;
  </std-spinner>

  <div class="ui relaxed divided list" *ngIf="dataFetchComplete">
    <div class="item" *ngFor="let project of projects">
      <div class="content flex">
        <div class="meta">
          <h4 class="header">{{project.name || project.code}}</h4>
          <div class="description">{{project.description || '(No description set.)'}}</div>
        </div>
        <div class="action">

          <div [ngSwitch]="hasProject(project.code)">
            <mat-chip-list *ngSwitchCase="true" fxLayoutAlign="left center">
              <mat-chip
                [removable]="true" [selectable]="false"
                (removed)="removeFromGroup(project, userGroup)"
                *ngFor="let userGroup of getUserGroupsByProject(project)">
                <span>{{userGroup.name}}</span>
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <ng-container *ngIf="notAMemberGroupsByProject[project.code].length">
                <mat-chip class="green background" [matMenuTriggerFor]="addMenu">
                  <mat-icon>add</mat-icon>
                </mat-chip>
                <mat-menu #addMenu="matMenu">
                  <button mat-menu-item
                          *ngFor="let group of notAMemberGroupsByProject[project.code]"
                          (click)="addToGroup(project, group)">{{group.name}}</button>
                </mat-menu>
              </ng-container>
            </mat-chip-list>
            <div *ngSwitchCase="false" class="text right">

              <ng-container translate>Not a member.</ng-container>&nbsp;
              <button mat-raised-button color="green" [matMenuTriggerFor]="appMenu">
                <mat-icon>add</mat-icon> {{ 'Add role' | translate }}
              </button>
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item *ngFor="let group of project.groups" (click)="addToGroup(project, group)">{{group.name}}</button>
              </mat-menu>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
