
<div *ngIf="error">Error</div>

<ng-container *ngIf="directory">

  <std-info-sheet
    class="pad right left mn"
    *ngIf="showInfoSheet"
    [id]="directory.id"
    [closed]="{ general: true, permissions: true }"
    [showPermissions]="showPermissions"></std-info-sheet>

  <div class="ui divider no bottom margin"></div>

  <ng-container [ngTemplateOutlet]="listing"></ng-container>

</ng-container>

<ng-template #nill>
  <div class="text center muted" translate>No Directory Selected For Viewing</div>
</ng-template>

<ng-template #empty>
  <div class="pad all text center muted" translate>Directory is empty</div>
</ng-template>

<ng-template #listing>
  <ul class="listing" *ngIf="directory.childrenIds as ids else empty">
    <ng-container>
    <li class="is interactive entry"
        *ngFor="let item of ids; last as last"
        [ngClass]="{ border: !last, active: selection === item }"
        (click)="onSelection(item)">
      <std-asset-display
        [id]="item"
        [showLink]="false"
        [showCheck]="false"
        [showMenu]="false">
      </std-asset-display>
      <mat-icon>chevron_right</mat-icon>
    </li>
    </ng-container>
  </ul>
</ng-template>

<std-spinner *ngIf="loading" class="take over"></std-spinner>
