<h2>
  <span *ngIf="editMode">Editing &quot;{{model.name}}&quot;</span>
  <span *ngIf="!editMode">New Project</span>
</h2>

<mat-tab-group>
  <mat-tab i18n-label label="Project Information">

    <div class="mat-form full-width">
      <div class="two column ui reset grid">
        <div class="column">
          <mat-form-field [class.no-underline]="editMode">
            <input matInput i18n-placeholder placeholder="Project Name"
                   [readonly]="editMode"
                   (blur)="autoProjectCode()"
                   [(ngModel)]="model.name"
                   [formControl]="nameFormControl">
            <mat-error i18n *ngIf="nameFormControl.hasError('required')">
              Project name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field [class.no-underline]="editMode">
            <input matInput i18n-placeholder placeholder="Project Handle"
                   [readonly]="editMode"
                   [(ngModel)]="model.code"
                   [formControl]="codeFormControl">
            <mat-error i18n *ngIf="codeFormControl.hasError('required')">
              Project code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="!editMode">
            <mat-select placeholder="Select Blueprint" [value]="model.blueprint" [disabled]="editMode">
              <mat-option *ngFor="let blueprint of blueprints" [value]="blueprint.id">
                {{blueprint.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field [class.no-underline]="editMode">
            <textarea
              matInput style="height: 150px"
              [readonly]="editMode"
              i18n-placeholder placeholder="Description"
              [(ngModel)]="model.description"
              [formControl]="descriptionFormControl"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab i18n-label label="Groups">

    <h1>TODO</h1>

  </mat-tab>
</mat-tab-group>

<div class="clearfix">
  <div class="float right">
    <button class="ui basic button" (click)="done()" tabindex="2">Done</button>
    <!--<button class="ui blue button" i18n
            (click)="update()"
            [disabled]="!formGroup.valid"
            *ngIf="editMode">Update</button>-->
    <button class="ui green button" i18n
            (click)="create()"
            [disabled]="!formGroup.valid"
            *ngIf="!editMode">Create
    </button>
  </div>
  <div class="float left" *ngIf="editMode">

    <button class="ui basic button labeled red icon" [matMenuTriggerFor]="deleteConfirm">
      <i class="trash icon"></i>
      <ng-container i18n>Delete Project</ng-container>
    </button>
    <mat-menu #deleteConfirm="matMenu">
      <button mat-menu-item>Cancel</button>
      <button mat-menu-item [matMenuTriggerFor]="deleteOptions"><i class="warning icon"></i> Confirm Deletion?</button>
    </mat-menu>
    <mat-menu #deleteOptions="matMenu">
      <button mat-menu-item (click)="delete()">Yes, permanently delete project.</button>
    </mat-menu>

  </div>
</div>

<div class="ui dimmer modals page transition visible active" *ngIf="creationRequestPending && !runCreationInBackground">
  <div class="ui small basic test modal transition visible active"
       style="margin-top: -123px; display: block !important;">
    <div class="ui icon header">
      <i class="coffee icon"></i>
      Creating project, please hold&hellip;
    </div>
    <div class="actions center text">
      <div class="pad-bottom">
        <button class="ui inverted button" (click)="runProjectCreationInBackground()">
          <i class="checkmark icon"></i>
          <ng-container i18n>Run In Background</ng-container>
        </button>
      </div>
      <small>You'll get notified when done.</small>
    </div>
  </div>
</div>
