@import "../../styles/settings";
@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-grey-main;
  place-content: center space-between;
  border: 1px solid $color-grey-lightest;
  &.hover {
    border: 1px solid $color-grey-lighter;
  }
  &.focus {
    background-color: #ffffff;
    @include mat-elevation(1);
  }
}

.magnifier {
  text-align: center;
  @include widths(40px);
  color: $color-grey;
}

.options {
  @include widths(40px);
}

input {
  flex-grow: 1;
  border: none;
  outline: none;
  display: block;
  background: transparent;
}

.clear {
  display: flex;
  font-size: 1em;
  align-items: center;
}
