<div class="sticky header view layout">
  <std-view-title-bar
    i18n-title
    [title]="project.name"
    icon="dashboard"
    childMax="readability">
    <button class="ui basic blue button" (click)="$event">Edit Project</button>
  </std-view-title-bar>
  <div class="view layout responsive-box" max="readability">

    <table class="ui definition very basic table">
      <tbody>
      <tr>
        <td class="text-right" translate>Name</td>
        <td>{{project.name}}</td>
      </tr>
      <tr>
        <td class="text-right" translate>Code</td>
        <td>{{project.code}}</td>
      </tr>
      <tr>
        <td class="text-right" translate>Description</td>
        <td>{{project.description}}</td>
      </tr>
      <tr>
        <td class="text-right" translate>Live Link</td>
        <td>{{project.liveUrl}}</td>
      </tr>
      <tr>
        <td class="text-right" translate>Groups</td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
