<header>
  <div class="flex-grow">
    <h2>{{title}}</h2>
  </div>
  <div>

    <ng-container *ngIf="dashletMenuMap[fetchType]">
      <button [matMenuTriggerFor]="optionsMenu">
        <i class="options icon"></i>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <ng-container *ngFor="let menu of dashletMenuMap[fetchType]">
          <ng-container [ngSwitch]="menu.type">
            <button *ngSwitchDefault (click)="menuOptionClicked(menu.action)" mat-menu-item>
              {{ menu.label | i18n }}
            </button>
            <mat-form-field *ngSwitchCase="'menu'" class="menu-dropdown">
              <mat-select
                #select="matSelect"
                placeholder="{{ menu.label | i18n }}"
                [(ngModel)]="query[menu.action]"
                (change)="menuOptionClicked(menu.action, select.value)">
                <mat-option *ngFor="let opt of menu.options" [value]="opt.value">
                  {{ opt.label || opt.value | i18n }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'input'" class="menu-dropdown">
              <input type="text" matInput [(ngModel)]="query[menu.action]">
            </mat-form-field>
          </ng-container>
        </ng-container>
      </mat-menu>
    </ng-container>

    <button *ngIf="!isDialog && canExpand" (click)="popOut()">
      <i class="expand icon"></i>
    </button>

    <button *ngIf="isDialog" (click)="done()">
      <i class="close icon"></i>
    </button>

  </div>
</header>

<section class="bd" [class.spinning]="!collection">

  <div class="ui top relatively fixed mini menu">
    <a class="item" [class.disabled]="areAllChecked" (click)="checkAll()">
      <i class="checkmark box icon"></i> All
    </a>
    <a class="item" [class.disabled]="areAllUnchecked" (click)="uncheckAll()">
      <i class="checkmark box icon"></i> None
    </a>
    <ng-container *ngIf="type === TYPE_CATEGORIZED">
      <a class="item" [class.disabled]="areAllExpanded" (click)="expandAll()">Expand All</a>
      <a class="item" [class.disabled]="areAllCollapsed" (click)="collapseAll()">Collapse All</a>
    </ng-container>
    <a class="item" (click)="refresh()">
      Refresh
    </a>
  </div>

  <ng-container
    *ngIf="uiFormat === UI_FORMAT_TABLE"
    [ngTemplateOutlet]="tableHeader">
  </ng-container>

  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="TYPE_CATEGORIZED">
      <mat-expansion-panel #expPanel class="allow-overflow"
                           *ngFor="let assetGroup of collection | async"
                           [expanded]="expandedStateRef[getPanelKey(assetGroup)]"
                           [disabled]="assetGroup.ids.length < 1">

        <mat-expansion-panel-header
          (click)="expandedStateChange(assetGroup, expPanel.expanded)"
          [collapsedHeight]="panelHeaderHeight"
          [expandedHeight]="panelHeaderHeight">
          {{assetGroup.label}} ({{(assetGroup.ids || []).length}})
        </mat-expansion-panel-header>

        <ng-container
          [ngTemplateOutlet]="(uiFormat === UI_FORMAT_MODERN) ? modernFormatTpl : tableFormatTpl"
          [ngTemplateOutletContext]="{ $implicit: assetGroup.ids }">
        </ng-container>

      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngSwitchDefault>

      <ng-container
        [ngTemplateOutlet]="(uiFormat === UI_FORMAT_MODERN) ? modernFormatTpl : tableFormatTpl"
        [ngTemplateOutletContext]="{ $implicit: collection | async }">
      </ng-container>

    </ng-container>
  </ng-container>

  <std-spinner *ngIf="itemsFetching" class="absolute position cover"></std-spinner>

</section>

<ng-template #modernFormatTpl let-items>
  <div class="ui vertical segment" *ngFor="let assetId of items">
    <div class="asset-display">
      <std-asset-display [asset]="assets[assetId]" [showCheck]="true" [showMenu]="true"></std-asset-display>
    </div>
    <div class="stats muted text" *ngIf="assets[assetId].lastEditedOn || assets[assetId].lastEditedBy">
      Edited
      <strong title="{{assets[assetId].lastEditedOn | amDateFormat:'MM/DD/YY h:mm a'}}">
        {{assets[assetId].lastEditedOn | amTimeAgo}}
      </strong>
      <ng-container *ngIf="assets[assetId].lastEditedBy">
        by <strong>{{assets[assetId].lastEditedBy.name}}</strong>
      </ng-container>
    </div>
    <std-asset-display
      displayField="url"
      [asset]="assets[assetId]"
      [showIcons]="false"
      [showCheck]="false"
      [showMenu]="false"></std-asset-display>
  </div>
</ng-template>

<ng-template #tableHeader>
  <div>
    <table
      class="ui flat very compact basic table"
      *ngIf="UI_FORMAT_TABLE === uiFormat">
      <thead class="uppercase">
      <tr>
        <th class="label">
          <div>Name</div>
        </th>
        <th class="url">
          <div>URL</div>
        </th>
        <th class="edit-by">
          <div>Edit By</div>
        </th>
        <th class="edit-on">
          <div>Edit On</div>
        </th>
        <th class="menu">
          <div>&nbsp;</div>
        </th>
      </tr>
      </thead>
    </table>
  </div>
</ng-template>

<ng-template #tableFormatTpl let-items>
  <table class="ui selectable flat extremely compact basic table">
    <tbody>
    <tr *ngFor="let assetId of items">
      <td class="label">
        <div>
          <std-asset-display [asset]="assets[assetId]" [disallowWrap]="true" [showCheck]="true"></std-asset-display>
        </div>
      </td>
      <td class="url">
        <a (click)="requestPreview(assets[assetId])" title="{{assets[assetId].url}}">{{assets[assetId].url}}</a>
      </td>
      <td class="edit-by">
        <div>{{assets[assetId].lastEditedBy.name}}</div>
      </td>
      <td class="edit-on">
        <div title="{{assets[assetId].lastEditedOn | amDateFormat:'MM/DD/YY h:mm a'}}">
          {{assets[assetId].lastEditedOn | amTimeAgo}}
        </div>
      </td>
      <td class="menu">
        <div>
          <std-asset-display
            [asset]="assets[assetId]"
            [showMenu]="true"
            [showLabel]="false"
            [showCheck]="false"
            [showIcons]="false"></std-asset-display>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
