<div class="view-container">
  <std-view-title-bar
    i18n-title [title]="!project ? 'Project Dashboard' : project.name + ' Dashboard'"
    icon="fa fa-tachometer">
    <div *ngIf="actions.length > 0" class="ui extremely compact flat basic buttons"
         [class.tiny]="actions.length > 3 && actions.length <= 5"
         [class.mini]="actions.length > 5">
      <button class="ui button" *ngFor="let action of actions" (click)="actionSelected(action.action)">{{action.label | i18n}}</button>
    </div>
  </std-view-title-bar>
  <div class="content transparent">

    <div class="wrapper">
      <div class="ui two column doubling grid top padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="pending"
            title="Pending Approval">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="scheduled"
            title="Scheduled">
          </std-item-list-dashlet>
        </div>
      </div>
      <div class="ui two column doubling grid bottom padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="activity"
            title="My Activity">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="published"
            title="Published">
          </std-item-list-dashlet>
        </div>
      </div>
    </div>

  </div>
</div>
