<div class="sticky header view layout">
  <std-view-title-bar
    class="pad x slim"
    icon="dashboard"
    [title]="!project ? 'Project Dashboard' : project.name">
    <div *ngIf="actions.length > 0">
      <button mat-mini-fab [matMenuTriggerFor]="bulkActionsMenu">
        <mat-icon>done_all</mat-icon>
      </button>
      <mat-menu #bulkActionsMenu="matMenu" class="mat-menu-compact">
        <button mat-menu-item
          *ngFor="let action of actions"
          (click)="actionSelected(action.action)">
          {{action.label}}
        </button>
      </mat-menu>
    </div>
  </std-view-title-bar>
  <div class="view body">

    <div class="wrapper">
      <div class="ui two column doubling grid top padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="pending"
            title="Pending Approval">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="scheduled"
            title="Scheduled">
          </std-item-list-dashlet>
        </div>
      </div>
      <div class="ui two column doubling grid bottom padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="activity"
            title="My Activity">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="published"
            title="Published">
          </std-item-list-dashlet>
        </div>
      </div>
    </div>

  </div>
</div>
