<div class="sticky header view layout">
  <std-view-title-bar
    class="pad x slimmer"
    icon="dashboard"
    [title]="!project ? 'Project Dashboard' : project.name">
    <div>
      <std-asset-menu>
        <ng-template #buttonTemplate let-props>
          <button mat-mini-fab color="warn" [matMenuTriggerFor]="props.menu">
            <mat-icon>done_all</mat-icon>
          </button>
        </ng-template>
      </std-asset-menu>
      <!--<ng-container *ngIf="actions.length > 0">
        <button mat-mini-fab color="warn" [matMenuTriggerFor]="bulkActionsMenu">
          <mat-icon>done_all</mat-icon>
        </button>
        <mat-menu #bulkActionsMenu="matMenu" class="mat-menu-compact">
          <button mat-menu-item
                  *ngFor="let action of actions"
                  (click)="actionSelected(action.action)">
            {{action.label}}
          </button>
        </mat-menu>
      </ng-container>-->
      <button mat-mini-fab color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </std-view-title-bar>
  <div class="view body">

    <div class="wrapper">
      <div class="ui two column doubling grid top padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="pending"
            title="Pending Approval">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="scheduled"
            title="Scheduled">
          </std-item-list-dashlet>
        </div>
      </div>
      <div class="ui two column doubling grid bottom padded">
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="activity"
            title="My Activity">
          </std-item-list-dashlet>
        </div>
        <div class="column">
          <std-item-list-dashlet
            [project]="project"
            [fetchType]="published"
            title="Published">
          </std-item-list-dashlet>
        </div>
      </div>
    </div>

  </div>
</div>
