<div class="view-container transparent" [class.tabbed]="tabs.length > 1">
  <div class="title-bar transparent">
    <div class="ui address-bar">
      <section class="controls">
        <button [disabled]="!selectedTab.hasBack()" (click)="back()" class="ui mini icon button"><i class="icon chevron left"></i></button>
        <button [disabled]="!selectedTab.hasForward()" (click)="forward()" class="ui mini icon button"><i class="icon chevron right"></i></button>
        <button [disabled]="selectedTab.isNew" (click)="reload()" class="ui mini icon button"><i class="icon refresh"></i></button>
        <div class="input-skin" *ngIf="site && sites">
          <div class="site-display">
            <button class="text simple" [title]="site.name" [matMenuTriggerFor]="siteSelectorMenu">
              Site: {{selectedTab.isExternal() ? '(External Page)' : selectedTab.siteCode}} <i class="dropdown icon"></i>
            </button>
            <mat-menu #siteSelectorMenu="matMenu" class="mat-menu-compact">
              <button
                mat-menu-item
                *ngFor="let siteItem of sites"
                (click)="changeSite(siteItem)">
                {{siteItem.name}}
              </button>
            </mat-menu>
          </div>
          <std-asset-display
            *ngIf="selectedTab.asset"
            [asset]="selectedTab.asset"
            [disallowWrap]="false"
            [showLabel]="false"
            [showMenu]="false"></std-asset-display>
          <input #urlBox type="text" placeholder=""
                 class="address-input ui search prompt"
                 [value]="selectedTab.url"
                 (keyup.enter)="requestUrl(urlBox.value)" />
          <std-asset-display
            *ngIf="selectedTab.asset"
            [asset]="selectedTab.asset"
            [disallowWrap]="false"
            [showLink]="false"
            [showLabel]="false"
            [showIcons]="false"
            [showMenu]="true"></std-asset-display>
        </div>
        <button (click)="addTab()" class="ui mini basic green icon button"><i class="icon plus" title="New Tab"></i></button>
      </section>
      <nav class="tab-bar">
        <div class="tab" *ngFor="let tab of tabs" [class.active]="tab.active">
          <button (click)="selectTab(tab)" class="main" [title]="tab.title">
            <std-asset-display
              *ngIf="tab.asset"
              [asset]="tab.asset"
              [disallowWrap]="false"
              [showLink]="false"
              [showLabel]="false"
              [showStatusIcons]="false"
              [showMenu]="false"></std-asset-display>
            {{tab.asset ? tab.asset.label : tab.title}}
          </button>
          <button (click)="closeTab(tab)" class="close" title="Close" i18n>&times;</button>
        </div>
      </nav>
    </div>
  </div>
  <div class="preview-container">
    <section class="code-editor" *ngIf="content">
      <std-code-editor [content]="content" [lang]="lang"></std-code-editor>
    </section>
    <section class="iframe-wrapper active">
      <iframe frameborder="0" stdComponentHost
              (load)="onIFrameLoadEvent($event)"
              [src]="iFrameLandingUrl | safeUrl"></iframe>
    </section>
  </div>
</div>
