@import "../../../styles/settings";

.preview-container {
  position: fixed;
  top: 52px;
  right: 0;
  left: $sidebar-width-sm;
  @media (min-width: $sidebar-breakpoint-sm) {
    left: $sidebar-width;
  }
  bottom: 0;
  .tabbed & {
    top: 82px;
  }
  .iframe-wrapper {
    display: none;
    &.active {
      display: block;
    }
  }
  iframe,
  .iframe-wrapper {
    height: 100%;
    width: 100%;
  }
}

.address-bar {
  .controls {
    display: flex;
    padding: 9px 5px;
    flex-wrap: nowrap;
  }
  .control {
    position: relative;
    border-radius: 5px;
    i {
      position: absolute;
      top:2px;
      bottom:0;
      right:0;
      left:0;
      font-size: 25px;
      &::before {
        top: 2px;
        position: relative;
      }
    }
  }
  .control,
  .site-display,
  input.address-input {
    margin: 0;
    padding: 0;
  }
  .site-display,
  input.address-input {
    border: none;
    background: transparent;
  }
  .back-button,
  .forward-button,
  .share-button,
  .new-tab-button,
  .refresh-button {
    flex-basis: 30px;
    margin-right: 5px;
  }
  .new-tab-button {

  }
  .input-skin {
    height: 33px;
    display: flex;
    flex-basis: 75%;
    margin-right: 5px;
    border-radius: 5px;
    position: relative;
    background: #e0e0e0;
    box-shadow: inset -1px 1px 3px rgba(#333,.3);
  }
  .site-display {
    padding-left: 10px;
    .icon {
      top: -10px;
      position: relative;
      .safari & {
        top: 0;
      }
    }
    .site-icon {
      width: 15px;
      margin-right: 5px;
    }
    .text {
      height: 100%;
      overflow: hidden;
      line-height: 33px;
      white-space: nowrap;
      text-overflow: ellipsis;
      .site-icon {
        top: -2px;
        margin-right: 3px;
        position: relative;
      }
    }
    .menu {
      .site-icon {

      }
    }
  }
  input.address-input {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  .sitemap-button {
    width: 30px;
    flex-basis: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      background: $gray-light;
    }
  }
  .tab-bar {
    display: none;
    flex-wrap: nowrap;
    .tabbed & {
      display: flex;
    }
    .tab {
      color: #666;
      height: 30px;
      flex-grow: 1;
      display: flex;
      overflow: hidden;
      line-height: 30px;
      text-align: center;
      position: relative;
      border-top: 1px solid $grey-header;
      border-right: 1px solid $grey-header;
      &.active {
        cursor: default;
        background-color: #ffffff;
      }
      &:last-child {
        border-right: none;
      }
      .main {
        flex-grow: 1;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: calc(100% - 30px);
      }
      .close {
        width: 30px;
      }
      /*button {
        top: 0px;
        right: 0px;
        height: 30px;
        line-height: 26px;
        position: absolute;
      }*/
    }
  }
}
