<div class="sticky header view layout">
  <std-view-title-bar
    class="pad all"
    title="My Profile"
    icon="person"
    childMax="comfort">
  </std-view-title-bar>
  <div class="view body">
    <div class="pad all">
      <div class="ui stackable doubling grid">
        <div class="four wide max column">
          <div class="ui card">
            <div class="image">
              <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
            </div>
            <div class="content">
              <a class="header">Kristy</a>
              <div class="meta">
                <span class="date">Joined in 2013</span>
              </div>
              <div class="description">
                Kristy is an art director living in New York.
              </div>
            </div>
            <div class="extra content">
              <button class="ui mini purple button" (click)="logout()">
                Log Out
              </button>
            </div>
          </div>
        </div>
        <div class="twelve wide max column">
          <mat-card class="pad all" style="margin-bottom: 20px">
            <mat-card-content>

              <mat-form-field>
                <input matInput placeholder="Username"
                       [(ngModel)]="user.username">
                <!--<mat-error translate *ngIf="userNameFormControl.hasError('required')">
                  Required field
                </mat-error>-->
              </mat-form-field>

              <std-password-field [model]="user"></std-password-field>

            </mat-card-content>
          </mat-card>
          <mat-card class="pad all">
            <mat-card-content>

              <h2>Make Studio Your Own</h2>
              <p>Customise studio's appearance & behaviour here.</p>

              <h3>Sidebar Theme</h3>
              <mat-radio-group
                [(ngModel)]="settings.navBarTheme"
                (change)="settingsChanged()">
                <mat-radio-button
                  class="ensure display block"
                  *ngFor="let color of colors"
                  [value]="color.key">
                  <span class="color preview" [style.background]="color.code"></span> {{color.label | translate}}
                </mat-radio-button>
              </mat-radio-group>

              <h3>Navigation / Meta + Click</h3>
              <p>When you use cmd/ctrl + click to open a page</p>
              <mat-radio-group
                (change)="settingsChanged()"
                [(ngModel)]="settings.metaClickOpenTabInBackground">
                <mat-radio-button class="display block" [value]="true" translate>Open new tab in background</mat-radio-button>
                <mat-radio-button class="display block" [value]="false" translate>Open new tab as active</mat-radio-button>
                <mat-radio-button class="display block" [disabled]="true" translate>Open new tab in background without leaving current view</mat-radio-button>
              </mat-radio-group>

              <h3>Sidebar position</h3>
              <p>Where would you like your nav bar to sit?</p>
              <mat-radio-group
                (change)="settingsChanged()"
                [(ngModel)]="settings.navBarPosition">
                <mat-radio-button
                  class="display block"
                  [value]="pos.value"
                  *ngFor="let pos of [
                    { label: 'Left', value: 'left' },
                    { label: 'Right', value: 'right' }
                  ]">
                  {{ pos.label|translate }}
                </mat-radio-button>
              </mat-radio-group>

              <h3>Layout</h3>
              <p>How do you like your layout?</p>
              <mat-radio-group
                (change)="settingsChanged()"
                [(ngModel)]="settings.layout">
                <mat-radio-button
                  class="display block"
                  [value]="option.value"
                  *ngFor="let option of [
                    { label: 'Expand to fill my full window (however massive it may be)', value: 'full' },
                    { label: 'Set a maximum width to the app area', value: 'contained' }
                  ]">
                  {{ option.label|translate }}
                </mat-radio-button>
              </mat-radio-group>

              <!-- TODO add animation target (add globally to animations.utils.ts) -->
              <ng-container *ngIf="'contained' === settings.layout">
                <h3>Layout's max width</h3>
                <p>What should the max allowed width be?</p>
                <mat-radio-group
                  (change)="settingsChanged()"
                  [(ngModel)]="settings.containedLayoutMax">
                  <mat-radio-button
                    class="display block"
                    [value]="option.value"
                    *ngFor="let option of [
                    { value: 1200, label: '1200 pixels wide max' },
                    { value: 1300, label: '1300 pixels wide max' },
                    { value: 1400, label: '1400 pixels wide max' },
                    { value: 1500, label: '1500 pixels wide max' },
                    { value: 1600, label: '1600 pixels wide max' },
                    { value: 1800, label: '1800 pixels wide max' },
                    { value: 2000, label: '2000 pixels wide max' },
                    { value: 2500, label: '2500 pixels wide max' }
                  ]">
                    {{ option.label|translate }}
                  </mat-radio-button>
                </mat-radio-group>
              </ng-container>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
