
<tree-root *ngIf="nodes && nodes.length"
           [nodes]="nodes"
           [options]="options"
           [state]="treeState"
           (toggleExpanded)="treeToggleExpanded($event)">

  <ng-template #treeNodeTemplate let-node let-index="index">
    <std-asset-display [id]="node.data.id" [showStatusIcons]="node.data.type !== 'FOLDER'"></std-asset-display>
  </ng-template>

  <!--<template #loadingTemplate>
    <mat-spinner></mat-spinner> Loading, please hold....
  </template>-->

</tree-root>

<div class="muted text" *ngIf="!nodes || !nodes.length">
  (No children to display)
</div>
