@import "styles/settings";
@import "~semantic-ui-sass/semantic-ui.scss";

body, html {
  height: 100%;
  overflow: hidden;
  @include open-sans-regular;
  font-size: $font-size-base;
  background-color: $sidebar-background-color;
  &, * {
    box-sizing: border-box;
  }
}

.bg-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  &::-webkit-media-controls {
    display: none !important;
  }
}

textarea,
textarea.mat-input-element {
  resize: none !important;
}

h1, h2, h3, h4, h5, h6 {
  @include open-sans-bold;
}

h1, h2 {
  @include open-sans-light;
}

[hidden] {
  display: none !important;
}

router-outlet {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
}

std-app,
std-not-implemented,
std-sidebar,
std-preview,
std-user-crud,
std-user-profile,
std-user-management,
std-user-group-manager,
std-content-tree,
std-edit,
std-editor,
std-code-editor,
std-dashboard,
std-embedded-view-dialog,
std-view-title-bar,
std-project,
std-project-crud,
std-project-dashboard,
std-project-management,
std-password-field,
std-item-list-dashlet,
std-iframe,
std-image-viewer,
std-video-player,
std-audio-player,
std-font-visualizer,
std-spinner,
std-syntax-highlighter,
std-plugin-host {
  display: block;
  position: relative;
}

std-asset-display {

}

std-sidebar-toggler {

}

std-app {
  height: 100%;
  transition: padding-left 250ms;
  padding-left: $sidebar-width-sm;
  @media (min-width: $sidebar-breakpoint-sm) {
    padding-left: $sidebar-width;
  }
  &.sidebar-collapsed {
    padding-left: 0;
    //padding-left: $sidebar-width-collapsed;
    //std-sidebar {
    //  width: $sidebar-width-collapsed;
    //  .label,
    //  .sidebar-actions,
    //  .sidebar-sub-heading {
    //    /* TODO what do to with actions? add icon */
    //    display: none;
    //  }
    //  .sidebar-item,
    //  .sidebar-item-heading {
    //    &:hover {
    //      .label {
    //        display: initial;
    //      }
    //    }
    //  }
    //}
  }
  > router-outlet + * {
    height: 100%;
  }
}

.font-light {

}

.font-semi-bold {

}

.font-bold {

}

.text {

  @each $alignment in left, right, center {
    &.#{$alignment} {
      text-align: $alignment;
      &.insure {
        text-align: $alignment !important;
      }
    }
  }

  @each $color, $hex-code in $colors {
    &.#{$color} {
      color: $hex-code;
      &.insure {
        color: $hex-code !important;
      }
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

}

.background {
  @each $color, $hex-code in $colors {
    &.#{$color} {
      background-color: $hex-code;
      &.insure {
        background-color: $hex-code !important;
      }
    }
  }
}

.is-interactive {
  cursor: pointer;
}

.highlight-interaction {
  &.bg {
    &:hover {
      background-color: $action-light !important;
    }
  }
}

.float {
  &.right {
    float: right
  }
  &.left {
    float: left
  }
}

.clearfix {
  @include clearfix();
}

.display {
  &.flex {
    display: flex;
    &.column {
      flex-direction: column
    }
  }
  &.block {
    display: block;
  }
  &.inline {
    display: inline;
  }
  &.inline.block {
    display: inline-block;
  }
}

.flex {
  display: flex;
  &.column {
    flex-direction: column
  }
  &.grow {
    flex-grow: 1;
  }
}

.full {
  &.width {
    width: 100%;
  }
  &.height {
    height: 100%;
  }
}

.pad {
  padding: $spacing-conservative;
  &.sm {
    padding: $spacing-sm;
  }
  &.md {
    padding: $spacing-md;
  }
  &.lg {
    padding: $spacing-lg;
  }
}

.pad-y {
  padding: {
    top: $spacing-conservative;
    bottom: $spacing-conservative;
  }
}

.pad-top {
  padding: {
    top: $spacing-conservative;
  }
}

.pad-bottom {
  padding: {
    bottom: $spacing-conservative;
  }
}

.pad-x {
  padding: {
    right: $spacing-conservative;
    left: $spacing-conservative;
  }
}

.pad-right {
  padding: {
    right: $spacing-conservative;
  }
}

.pad-left {
  padding: {
    left: $spacing-conservative;
  }
}

.position {
  &.absolute {
    position: absolute;
  }
  &.relative {
    position: relative;
  }
  &.fixed {
    position: fixed;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.transparent {
  background-color: transparent;
}

@mixin create-box {
  padding: $spacing-sm;
  margin: {
    top: $spacing-conservative;
    bottom: $spacing-conservative;
  }
  border-radius: 10px;
}

.app-box {
  @include create-box;
}

.view.container,
.view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  > .title-bar,
  > .title.bar,
  std-view-title-bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    &.transparent {
      @extend .transparent;
    }
    &.shadow {
      box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.15);
    }
    .wrapper {
      display: flex;
      align-items: center;
      padding: $spacing-conservative;
    }
    .view-title {
      margin: 0;
      color: #666;
    }
    .actions {
      margin-left: auto;
    }
  }
  > .content {
    width: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    &.transparent {
      background-color: transparent;
    }
    &.responsive-box {
      &.readability {
        @media (min-width: $max-width-readability + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
      &.comfort {
        @media (min-width: $max-width-comfort + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
      &.generous {
        @media (min-width: $max-width-generous + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
    }
  }
}

.login.view {

  mat-dialog-container {
    color: #ffffff;
    background: rgba(0, 0, 0, .5);

    //.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-placeholder-wrapper .mat-form-field-placeholder {}
    //mat-input-placeholder mat-form-field-placeholder ng-tns-c5-1 {}

    .mat-form-field-placeholder {
      color: #ffffff;
    }

    .mat-checkbox-frame {
      border-color: #ffffff;
    }

  }

}

.set-max {
  margin: 0 auto;
  &.readability {
    max-width: $max-width-readability;
  }
  &.comfort {
    max-width: $max-width-comfort;
  }
  &.generous {
    max-width: $max-width-generous;
  }
}

.table-hd-bg {
  background-color: #EBEBEB;
}

.ui {

  &.table.flat {
    border: none;
    border-radius: 0;
    thead tr:first-child > th:first-child,
    thead tr:first-child > th:last-child {
      border-radius: 0;
    }
  }

  &.extremely.compact.table {
    td, th {
      padding: 2px;
    }
  }

  &.buttons {
    &.flat {
      border: none;
    }
    &.extremely.compact {
      $pad: .6rem;
      padding: {
        left: $pad;
        right: $pad;
      }
    }
  }

  &.grid {
    &.unpadded {
      > .column:not(.row),
      > .row > .column {
        padding: 0;
      }
    }
    &.reset {
      &, &.relaxed {
        margin: 0;
      }
    }
  }

}

thead.uppercase {
  th {
    font-size: .8rem;
    text-transform: uppercase !important;
  }
}

a, button {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: center;
  background: transparent;
  @include open-sans-regular;
  &.simple {
    padding: 0;
    align-items: center;
    display: inline-flex;
    > i {
      margin: auto;
    }
  }
}

.ui.button {
  &.flat {
    box-shadow: none;
  }
  &.with.larger.icon {
    padding: 0.2em 0.5em 0;
    i {
      font-size: 1.4em;
    }
  }
}

.inline-flex {
  display: inline-flex;
}

.flex-align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.ui.message.plain {
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}

.mat-form {
  &.full-width {
    mat-form-field {
      width: 100%
    }
  }
}

.ui.relatively.fixed.menu {
  position: relative;
  border-style: none;
}

.loader {
  display: flex;
  text-align: center;
  align-items: center;
  margin: $spacing-lg auto;
  > .wrapper {
    width: 100%;
  }
  &.opaque {
    background: rgba($gray-light, .6);
    //-webkit-filter: blur($blur);
    //-moz-filter: blur($blur);
    //-o-filter: blur($blur);
    //-ms-filter: blur($blur);
    //filter: blur($blur);
  }
  &.cover,
  &.take.over,
  &.take-over {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  mat-spinner {
    margin: 0 auto $spacing-conservative;
  }
  .info {

  }
}

.ui.controls {
  display: flex;
  padding: 9px 5px;
  flex-wrap: nowrap;
  .control {
    position: relative;
    border-radius: 5px;
    i {
      position: absolute;
      top: 2px;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 25px;
      &::before {
        top: 2px;
        position: relative;
      }
    }
  }
}

.ui.tab.bar {
  display: none;
  flex-wrap: nowrap;
  .tabbed & {
    display: flex;
  }
  .tab {
    color: #666;
    height: 30px;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    position: relative;
    border-top: 1px solid $grey-header;
    border-right: 1px solid $grey-header;
    &.active {
      cursor: default;
      background-color: #ffffff;
    }
    &:last-child {
      border-right: none;
    }
    .main {
      padding: 0;
      flex-grow: 1;
      cursor: pointer;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(100% - 30px);
    }
    .close {
      width: 30px;
    }
    /*button {
      top: 0px;
      right: 0px;
      height: 30px;
      line-height: 26px;
      position: absolute;
    }*/
  }
}

@import "./styles/material.scss";
@import './styles/angular-tree.component.scss';
