
@import "styles/settings";
@import "~semantic-ui-sass/semantic-ui.scss";

body, html {
  height: 100%;
  overflow: hidden;
  @include open-sans-regular;
  font-size: $font-size-base;
  background-color: $sidebar-background-color;
  &, * {
    box-sizing: border-box;
  }
}

textarea,
textarea.mat-input-element {
  resize: none !important;
}

h1,h2,h3,h4,h5,h6 {
  @include open-sans-bold;
}

h1, h2 {
  @include open-sans-light;
}

router-outlet {
  display: none;
}

std-root,
std-not-implemented,
std-sidebar,
std-preview,
std-user-crud,
std-user-profile,
std-user-management,
std-user-group-manager,
std-content-tree,
std-code-editor,
std-dashboard,
std-embedded-view-dialog,
std-view-title-bar,
std-site,
std-site-crud,
std-site-dashboard,
std-site-management,
std-password-field,
std-item-list-dashlet {
  display: block;
  position: relative;
}

std-asset-display {

}

std-root {
  height: 100%;
  padding-left: $sidebar-width-sm;
  @media (min-width: $sidebar-breakpoint-sm) {
    padding-left: $sidebar-width;
  }
  &.sidebar-collapsed {
    padding-left: $sidebar-width-collapsed;
    .studio-sidebar {
      width: $sidebar-width-collapsed;
      .label,
      .sidebar-actions,
      .sidebar-sub-heading{
        /* TODO what do to with actions? add icon */
        display: none;
      }
      .sidebar-item,
      .sidebar-item-heading {
        &:hover {
          .label {
            display: initial;
          }
        }
      }
    }
  }
  > router-outlet + * {
    height: 100%;
  }
}

.font-light {

}

.font-semi-bold {

}

.font-bold {

}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-muted {
  color: #999;
}

.text-teal {
  color: $color-teal;
}

.is-interactive {
  cursor: pointer;
}

.highlight-interaction {
  &.bg {
    &:hover {
      background-color: $action-light !important;
    }
  }
}

.float-right {
  float: right
}

.float-left {
  float: left
}

.clearfix {
  @include clearfix();
}

.flex {
  display: flex;
  &.column {
    flex-direction: column
  }
}

.pad {
  padding: $spacing-conservative;
  &.sm {
    padding: $spacing-sm;
  }
  &.md {
    padding: $spacing-md;
  }
  &.lg {
    padding: $spacing-lg;
  }
}

.pad-y {
  padding: {
    top: $spacing-conservative;
    bottom: $spacing-conservative;
  }
}

.pad-top {
  padding: {
    top: $spacing-conservative;
  }
}

.pad-bottom {
  padding: {
    bottom: $spacing-conservative;
  }
}

.pad-x {
  padding: {
    right: $spacing-conservative;
    left: $spacing-conservative;
  }
}

.pad-right {
  padding: {
    right: $spacing-conservative;
  }
}

.pad-left {
  padding: {
    left: $spacing-conservative;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.transparent {
  background-color: transparent;
}

@mixin create-box {
  padding: $spacing-sm;
  margin: {
    top: $spacing-conservative;
    bottom: $spacing-conservative;
  }
  border-radius: 10px;
}

.app-box {
  @include create-box;
}

.view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  > .title-bar,
  std-view-title-bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    &.transparent {
      @extend .transparent;
    }
    &.shadow {
      box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.15);
    }
    .wrapper {
      display: flex;
      align-items: center;
      padding: $spacing-conservative;
    }
    .view-title {
      margin: 0;
      color: #666;
    }
    .actions {
      margin-left: auto;
    }
  }
  > .content {
    width: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    &.transparent {
      background-color: transparent;
    }
    &.responsive-box {
      &.readability {
        @media (min-width: $max-width-readability + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
      &.comfort {
        @media (min-width: $max-width-comfort + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
      &.generous {
        @media (min-width: $max-width-generous + $sidebar-width + $spacing-conservative) {
          @include create-box;
        }
      }
    }
  }
}

.set-max {
  margin: 0 auto;
  &.readability {
    max-width: $max-width-readability;
  }
  &.comfort {
    max-width: $max-width-comfort;
  }
  &.generous {
    max-width: $max-width-generous;
  }
}

.table-hd-bg {
  background-color: #EBEBEB;
}

.ui.table.flat {
  border: none;
  border-radius: 0;
  thead tr:first-child > th:first-child,
  thead tr:first-child > th:last-child {
    border-radius: 0;
  }
}

.ui.extremely.compact.table {
  td, th {
    padding: 2px;
  }
}

.ui.buttons {
  &.flat {
    border: none;
  }
  &.extremely.compact {
    $pad: .6rem;
    padding: {
      left: $pad;
      right: $pad;
    }
  }
}

.uppercase {
  &.text {
    text-transform: uppercase;
  }
}

thead.uppercase {
  th {
    font-size: .8rem;
    text-transform: uppercase !important;
  }
}

a, button {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: center;
  background: transparent;
  @include open-sans-regular;
  &.simple {
    padding: 0;
    align-items: center;
    display: inline-flex;
    > i {
      margin: auto;
    }
  }
}

.inline-flex {
  display: inline-flex;
}

.flex-align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.ui.message.plain {
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}

.mat-form {
  &.full-width {
    mat-form-field {
      width: 100%
    }
  }
}

.ui.relatively.fixed.menu {
  position: relative;
  border-style: none;
}

@import "./styles/material.scss";
@import './styles/angular-tree.component.scss';
