<ng-container *ngIf="preRequisitesPassed else loading">
  <ng-container [ngSwitch]="auth">

    <!-- Router Outlet: Used for the login view when user is not authenticated. -->
    <router-outlet *ngSwitchCase="'void'"></router-outlet>

    <!-- Show the app until user is logged in -->
    <std-main *ngSwitchDefault></std-main>

  </ng-container>
</ng-container>

<ng-template #loading>
  <std-spinner class="absolute position full with height cover">
    Loading Crafter Studio&hellip;
  </std-spinner>
</ng-template>
