@import "../../styles/settings";

:host {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  position: relative;
}

.code-editor {
  &,
  /deep/ .ace_editor/*,
  /deep/ .monaco-editor*/ {
    width: 100%;
    height: 100%;
  }
  /deep/ .monaco-editor {
    .overflowingContentWidgets {
      margin-top: -100px;
    }
  }
}
