
@import "../../../styles/settings";

.mat-form-fields {
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
    margin-bottom: 10px;
  }
  > .two {
    display: flex;
    > * {
      width: 50%;
      margin-right: 5%;
      &:last-child {
        margin-right: 0;
      };
    }
  }
}

.tab-content {
  min-height: 300px;
  padding: {
    top: $spacing-conservative;
    bottom: $spacing-conservative;
  }
}

.avatar-display {
  display: flex;
  .selected-avatar {
    margin-right: 5px;
    .ui.tiny.image {
      width: 70px;
      height: 70px;
      overflow: hidden;
      background-color: #f2f2f2;
    }
  }
  .available-avatars {
    flex-wrap: wrap;
    .image {
      opacity: .5;
      &.active {
        opacity: 1;
      }
    }
  }
}
