@import "../../../styles/settings";

.dashlet,
:host {
  height: 100%;
  display: flex;
  background: #fff;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.2);
  > .bd,
  > header,
  > footer {
    position: relative;
  }
  > header {
    height: 60px;
    display: flex;
    color: #666666;
    align-items: center;
    background: $color-grey-main;
    padding: 0 $spacing-mini 0 $spacing-sm;
  }
  > .bd {
    &.spinning {
      @media only screen and (max-width: 992px) {
        min-height: 300px;
      }
    }
  }
  &:not(.is-dialog) {
    > .bd {
      height: 350px;
      @media only screen and (min-height: 650px) {
        height: calc(100% - 60px);
      }
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  > footer {

  }
}

.ui.vertical.segment.segment {
  padding: $spacing-tiny $spacing-mini;
  .asset-display {

  }
  .url,
  .stats {
    display: block;
    margin-left: 25px;
  }
  .stats {

  }
  .url {
    @include ellipsis;
  }
}

.ui.table {
  table-layout: fixed;

  .check,
  .label,
  .url,
  .edit-by,
  .edit-on,
  .menu {
    > a,
    > div,
    > span {
      width: 100%;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .label {
    width: 30%;
    position: relative;
    > div {
      padding-left: 5px;
    }
  }
  .url {
    width: 50%;
  }
  .edit-by {
    width: 30%;
  }
  .edit-on {
    width: 15%;
  }
  .menu {
    width: 5%;
    > * {
      overflow: visible;
      text-overflow: clip;
    }
    button {
      padding: 0;
    }
  }

  tbody, thead {
    td, th {

    }
  }
  thead {

  }
  tbody {
    .label {
      mat-checkbox {

      }
      > span {

      }
    }
  }

}

.ui.menu.relatively.fixed .item:last-child {
  &::before {
    content: initial;
  }
}

.menu-dropdown {
  width: 100%;
  padding: 5px 15px;
  /deep/ .mat-form-field-underline {
    position: static;
  }
  /deep/ .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  /deep/ .mat-form-field-subscript-wrapper {
    display: none;
  }
}

//.spinner {
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  z-index: 101;
//  display: flex;
//  position: absolute;
//  text-align: center;
//  align-items: center;
//  mat-spinner {
//    margin: auto;
//  }
//}

