<div class="sticky header view layout">
  <section class="view body pad top right left">
    <mat-card class="pad none full height no round bottom display flex column">

      <mat-tab-group #tabGroup [(selectedIndex)]="index">
        <mat-tab *ngFor="let tab of tabs" [label]="tab.label | translate"></mat-tab>
      </mat-tab-group>
      <div id="manageRouterWrapper" class="router wrapper position relative flex one">
        <router-outlet></router-outlet>
      </div>

    </mat-card>
  </section>
</div>
