
<div class="sticky header view layout" *ngIf="data">
  <std-view-title-bar class="slimmer pad left right">
    <ng-template #heading>
      <h2 class="margin none" translate>Delete Asset(s)</h2>
    </ng-template>
    <div>
      <button mat-icon-button
              (click)="selectAll()"
              [attr.aria-label]="'Select all'|translate"
              [matTooltip]="'Select all'|translate">
        <mat-icon aria-hidden="true">check_box</mat-icon>
      </button>
      <button mat-icon-button
              (click)="selectNone()"
              [attr.aria-label]="'Select none'|translate"
              [matTooltip]="'Select none'|translate">
        <mat-icon aria-hidden="true">check_box_outline_blank</mat-icon>
      </button>
    </div>
  </std-view-title-bar>
  <div class="view body">
    <div class="pad all" max="readability">
      <ng-container *ngFor="let entry of data.entries; let isLast=last">
        <std-asset-display
          [id]="entry.assetId"
          [showLink]="false"
          [showCheck]="!finished"
          [showMenu]="false"
          [checked]="checked[entry.assetId]"
          (checkedChange)="parentChecked($event, entry.assetId)"
          checkMode="local">
        </std-asset-display>
        <div *ngFor="let dependantId of entry.dependantIds" class="pad left">
          <std-asset-display
            [id]="dependantId"
            [showLink]="false"
            [showCheck]="!finished"
            [showMenu]="false"
            [checked]="checked[dependantId]"
            (checkedChange)="assetChecked($event, dependantId)"
            checkMode="local">
          </std-asset-display>
        </div>
        <div class="ui divider" *ngIf="!isLast"></div>
      </ng-container>
    </div>
  </div>
  <footer class="view footer mat-elevation-z1 pad all mn" *ngIf="!finished">
    <button mat-raised-button color="warn" [matMenuTriggerFor]="deleteConfirm">
      <mat-icon>delete</mat-icon> Delete
    </button>
    <mat-menu #deleteConfirm="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="deleteOptions"><i class="warning icon"></i> <ng-container translate>Confirm Deletion?</ng-container></button>
      <button translate mat-menu-item>Cancel</button>
    </mat-menu>
    <mat-menu #deleteOptions="matMenu">
      <button mat-menu-item (click)="submit()">
        <ng-container translate>Yes, permanently delete.</ng-container>
      </button>
    </mat-menu>
  </footer>
</div>

<div class="pad all lg text muted center" *ngIf="empty">
  <span translate>Nothing selected for displaying.</span>
</div>

<std-spinner *ngIf="loading" class="take over"></std-spinner>
