@import "../../styles/settings";

::ng-deep {
  std-history-review {
    .mat-cell {
      &.version {
        direction: rtl;
      }
    }
    .mat-cell,
    .mat-header-cell {
      &.comment {
        @include mediaQuery(sm) {
          @include widths(250px, $max: false);
        }
        @include mediaQuery(md) {
          @include widths(300px, $max: false);
        }
        @include mediaQuery(lg) {
          @include widths(400px, $max: false);
        }
        @media screen and (min-width: 1400px) {
          min-width: 550px
        }
      }
      &.version {
        @include widths(125px);
      }
      &:not(.checkbox):not(.actions) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 $spacing-sm;
      }
      &.actions,
      &.checkbox {
        overflow: visible;
      }
      &.checkbox {
        @include widths(30px);
      }
      &.actions {
        @include widths(45px);
      }
    }
  }
}

.body > .entry.wrapper {
  margin-bottom: $spacing-lg;
}
