:host {

}

table {
  &:not(.selectable) {
    td>div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 420px;
    }
  }
  .id {
    >div {
      width: 100%;
      max-width: 100%;
    }
  }
  .state {
    min-width: 300px;
    mat-form-field {
      display: block;
    }
  }
  .processing {
    width: 180px;
  }
}
