<div class="view-container">
  <std-view-title-bar
    i18n-title title="Workflow States Editor"
    icon="fa fa-fast-forward"
    max="comfort">
    <ng-container *ngIf="!bulkProcessingItems">
      <button class="ui button" [matMenuTriggerFor]="bulkStatesMenu">Set Selected</button>
      <button class="ui icon button" (click)="refresh()"><i class="refresh icon"></i></button>
    </ng-container>
    <button *ngIf="bulkProcessingItems && !bulkProcessing" class="ui button" (click)="processReportDone()">
      Done
    </button>
    <mat-menu class="mat-menu-compact" #bulkStatesMenu="matMenu">
      <button mat-menu-item>Cancel</button>
      <button mat-menu-item (click)="bulkSetStates(status)" *ngFor="let status of states">{{status}}</button>
    </mat-menu>
  </std-view-title-bar>
  <div class="content set-max readability responsive-box" *ngIf="bulkProcessingItems">
    <table class="ui flat compact basic table">
      <thead class="uppercase">
      <tr>
        <th>Item</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of bulkProcessingItems | async">
          <td>
            <div title="{{i.id}}">{{i.id}}</div>
          </td>
          <td>
            <div class="text-red" *ngIf="!i.done">Processing...</div>
            <div class="text-green" *ngIf="i.done">Done</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content set-max comfort responsive-box" *ngIf="!bulkProcessingItems">

    <table class="ui selectable flat compact basic table">
      <thead class="uppercase">
      <tr class="uppercase">
        <th class="text-center text-teal">
          <button class="simple" (click)="selectAll()">
            <i class="fa fa-check-square-o"></i>
          </button>
          <button class="simple" (click)="selectNone()">
            <i class="fa fa-square-o"></i>
          </button>
        </th>
        <th>Asset ID</th>
        <th>Asset State</th>
        <th>System Processing</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="4">
          <mat-form-field class="no-subscript no-infix no-underline with search icon">
            <input placeholder="Search..." i18n-placeholder
                   matInput type="text"
                   [formControl]="filterQuery">
          </mat-form-field>
        </td>
      </tr>
      <tr *ngFor="let i of items | async">
        <td><mat-checkbox [(ngModel)]="selected[i.id]"></mat-checkbox></td>
        <td class="id">
          <div title="{{i.asset.id}}">{{i.asset.id}}</div>
        </td>
        <td class="state">
          <mat-form-field class="no-subscript no-underline no-infix">
            <mat-select [(ngModel)]="i.asset.workflowStatus" (change)="itemStatusChanged(i)">
              <mat-option [value]="status" *ngFor="let status of states">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td class="processing">
          <mat-radio-group [(ngModel)]="i.processing" (change)="itemStatusChanged(i)">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">Page {{pagerConfig.pageIndex+1}} of {{numOfPages}}</td>
        <td colspan="2">
          <mat-paginator (page)="pageChanged($event)"
                         [length]="numOfItems"
                         [pageIndex]="pagerConfig.pageIndex"
                         [pageSize]="pagerConfig.pageSize"
                         [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
