<div class="sticky header view layout">
  <std-view-title-bar
    class="pad all"
    title="Users"
    icon="people"
    childMax="comfort">
    <div>
      <button (click)="fetchUsers(undefined, true)" color="default" mat-fab
              [attr.aria-label]="'Refresh Users' | translate">
        <mat-icon aria-hidden="true">refresh</mat-icon>
      </button>
      <button theme="green" hue="600" color="inherit" mat-fab
              (click)="createUser()"
              [attr.aria-label]="'Create User' | translate">
        <mat-icon aria-hidden="true">add</mat-icon>
      </button>
    </div>
  </std-view-title-bar>
  <section class="view body">

    <div class="pad all">
      <std-spinner class="absolute position full with height cover" *ngIf="loading">
        Retrieving Users&hellip;
      </std-spinner>
      <mat-card class="pad all" max="readability" *ngIf="!loading">
        <std-user-list (selected)="editUser($event)" [users]="users"></std-user-list>
      </mat-card>
    </div>

  </section>
  <footer>
    <mat-paginator class="responsive-tight"
                   (page)="pageChanged($event)"
                   [length]="totalNumOfUsers"
                   [pageIndex]="query.pageIndex"
                   [pageSize]="query.pageSize"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </footer>
</div>
