<div class="studio-sidebar">

  <mat-expansion-panel class="studio-app-nav allow-overflow" expanded="true">
    <mat-expansion-panel-header [collapsedHeight]="'75px'" [expandedHeight]="'75px'">
      <mat-panel-title>
        <img class="sidebar-logo" src="/assets/img/crafter_studio_360.png" i18n-alt alt="Crafter Studio">
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sidebar-items">
      <a class="sidebar-item"
         routerLink="{{item.config.href}}"
         routerLinkActive="active"
         routerLinkActiveOptions="{ exact: true }"
         [routerLinkActiveOptions]="{ exact: true }"
         *ngFor="let item of appNavItems">
        <i class="{{item.iconClass}}">{{item.iconText}}</i> <span class="label">{{item.label}}</span>
      </a>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="studio-site-nav allow-overflow" expanded="true">
    <mat-expansion-panel-header class="sidebar-heading" [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
      <mat-panel-title>Ray's Photography</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sidebar-items">

      <!-- TODO: make this into individual components? -->
      <div *ngFor="let item of siteNavItems" [ngSwitch]="item.type">
        <a class="sidebar-item"
           routerLink="/site/mySite/{{item.config.href}}"
           routerLinkActive="active"
           *ngSwitchCase="itemTypes.Link">
          <i class="{{item.iconClass}}"></i> <span class="label">{{item.label}}</span>
        </a>
        <h3 class="sidebar-sub-header" *ngSwitchCase="itemTypes.Heading">{{item.label}}</h3>
        <mat-expansion-panel class="sidebar-item-container"  *ngSwitchCase="itemTypes.Container">
          <mat-expansion-panel-header class="no-indicator" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
            <mat-panel-title class="sidebar-item-heading">
              <i class="{{item.iconClass}}"></i> <span class="label" i18n>{{item.label}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            {{item.label}} Content Goes Here!
          </div>
        </mat-expansion-panel>
      </div>

      <div class="sidebar-actions">
        <button class="ui button fluid" *ngFor="let item of siteCommands" (click)="runCommand(item.command)">{{item.label}}</button>
      </div>

    </div>
  </mat-expansion-panel>

</div>
