
<!--<mat-expansion-panel #appNavPanel class="studio-app-nav allow-overflow"
                     [expanded]="expandedPanels[APP_NAV_KEY]">
  <mat-expansion-panel-header (click)="appNavPanelExpandedStateChange(appNavPanel.expanded)"
                              [collapsedHeight]="'75px'" [expandedHeight]="'75px'">
    <mat-panel-title>
      Global
    </mat-panel-title>
  </mat-expansion-panel-header>-->
  <div class="sidebar-items">
    <a class="sidebar-item"
       routerLink="{{item.config.href}}"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       *ngFor="let item of appNavItems">
      <i class="{{item.iconClass}}">{{item.iconText}}</i> <span class="label">{{'STUDIO_NAV.' + item.label | translate}}</span>
    </a>
    <a class="sidebar-item"
       routerLink="/preview"
       routerLinkActive="active">
      <i class="fa fa-binoculars"></i>
      <span class="label">Browse</span>
    </a>
    <a class="sidebar-item"
       [hidden]="(editSessions$ | async).length === 0"
       routerLink="/edit"
       routerLinkActive="active">
      <i class="fa fa-pencil"></i>
      <span class="label">Edit ({{(editSessions$ | async).length}})</span>
    </a>
  </div>
<!--</mat-expansion-panel>-->

<ng-container *ngIf="!project && projects.length > 0">
  <h2 class="pad x">Projects</h2>
  <button mat-menu-item
          *ngFor="let project of projects"
          (click)="selectProject(project.code)">
    {{project.name}}
  </button>
</ng-container>

<ng-container *ngIf="project">
  <section class="workspace heading">
    <h2 class="workspace title">{{project.name}}</h2>
    <div class="workspace options">
      <button class="close" [title]="'Close Workspace' | translate: { name: project.name }"
              (click)="closeWorkspace()">
        <mat-icon>close</mat-icon>
      </button>
      <button class="change" title="Change Project" i18n-title
              [matMenuTriggerFor]="projectsMenu">
        <mat-icon>compare_arrows</mat-icon>
      </button>
    </div>
    <mat-menu class="mat-menu-compact" #projectsMenu="matMenu">
      <ng-container *ngFor="let project of projects">
        <button mat-menu-item (click)="selectProject(project.code)">
          {{project.name}}
        </button>
      </ng-container>
    </mat-menu>
  </section>
  <div class="sidebar-items">

    <!-- TODO: make this into individual components? -->
    <div *ngFor="let item of projectNavItems"
         [ngSwitch]="item.type">

      <a class="sidebar-item"
         routerLink="/project/{{project.code}}/{{item.config.href}}"
         routerLinkActive="active"
         *ngSwitchCase="itemTypes.Link">
        <i class="{{item.iconClass}}"></i> <span class="label">{{'SITE_NAV.' + item.label | translate}}</span>
      </a>

      <h3 class="sidebar-sub-heading mat-caption" *ngSwitchCase="itemTypes.Heading">{{'SITE_NAV.' + item.label | translate}}</h3>

      <mat-expansion-panel
        #expPanel class="sidebar-item-container"
        [expanded]="expandedPanels[getProjectNavPanelKey(item)]"
        *ngSwitchCase="itemTypes.Container">
        <mat-expansion-panel-header
          class="no-indicator"
          (click)="projectNavPanelExpandedStateChange(item, expPanel.expanded)"
          [collapsedHeight]="'auto'"
          [expandedHeight]="'auto'">
          <mat-panel-title class="sidebar-item-heading">
            <i class="{{item.iconClass}}"></i>
            <span class="label">{{'SITE_NAV.' + item.label | translate}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template stdComponentHost [data]="{ project: project, cfg: item }"></ng-template>

      </mat-expansion-panel>

    </div>

    <div class="sidebar-actions">
      <button mat-raised-button class="stretch x" *ngFor="let item of projectCommands" (click)="runCommand(item.command)">
        {{'SITE_NAV.' + item.label | translate}}
      </button>
    </div>

  </div>
</ng-container>
