
@import "../../styles/settings";

//:host {
//  position: static;
//}
//.studio-sidebar {
//   ...

:host {
  top: 0;
  left: 0;
  min-height: 100vh;
  border-right: 1px solid;
  width: $sidebar-width-sm;
  @media (min-width: 1200px) {
    width: $sidebar-width;
  }
  position: absolute;
  &.independent-scroll {
    bottom: 0;
    .sidebar-scroll {
      overflow: auto;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: $spacing-conservative;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 75px;
    }
  }
  .mat-expansion-panel {
    background: transparent;
  }
}

.studio-app-nav {
  margin-bottom: $spacing-conservative;
}

.sidebar-logo {
  height: 55px;
}

.studio-project-nav {
  margin: {
    bottom: 1px;
  }
}

.sidebar-actions {
  margin: 20px 30px;
  button {
    margin-bottom: 10px;
  }
}

.sidebar-item {
  position: relative;
}

.sidebar-items {
  padding-top: 10px;
}

.sidebar-sub-heading {
  margin: {
    top: 10px;
    bottom: 5px;
  };
  padding: {
    left: 15px;
    right: 15px;
  }
  font-size: 1rem;
}

.sidebar-item,
.sidebar-item-heading {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  i {
    width: 20px;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 10px;
  }
}

.sidebar-item-heading {
  padding: 7px 0;
}

.sidebar-item-container {
  // TODO /deep/ is deprecated, use ::ng-deep
  /deep/ .mat-expansion-panel-body {
    padding: 0 15px 5px !important;
  }
}

.ui.message.user-account-control {

  :host.independent-scroll & {
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    position: fixed;
    width: ($sidebar-width-sm+(-1)) !important;
    @media (min-width: 1200px) {
      width: ($sidebar-width+(-1)) !important;
    }
  }

  padding: 15px;
  margin-top: 0;
  overflow: hidden;
  border-top: 1px solid;

  .content .header,
  .content p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .image,
  .user.icon {
    width: 43px;
    margin-right: $spacing-sm;
    @media (max-width: 1199px) {
      display: none !important;
    }
  }

}

.workspace {
  &.heading {
    display: flex;
    height: 3.5rem;
    overflow: hidden;
    background: $color-gray-lighter;
  }
  &.title {
    margin: 0;
    flex-grow: 1;
    padding: 0 15px;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.options {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    button {
      margin: 0;
      padding: 0;
      height: 50%;
      i {
        margin: 0;
        padding: 0;
      }
      &.close {
        &:hover {
          color: $color-red;
        }
      }
      &.change {
        &:hover {
          color: $color-purple;
        }
      }
    }
  }
}

/* Theme */

$font-color: #222222;
$icon-color: #777777;
$category-heading-color: #7f7f7f;
$highlight-color: #dcdcdc;

:host {
  color: $font-color;
  background-color: $sidebar-background-color;
  background: linear-gradient(to bottom, #fcfffe 0%, $sidebar-background-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffe', endColorstr='#f8f8f8',GradientType=0 );
  border-color: $sidebar-border-color;
}

.mat-expanded {
  .sidebar-heading {
    @include open-sans-bold;
  }
}

.sidebar-heading {
  &, &:hover, &:focus {
    background-color: $grey-header !important;
  }
}

.sidebar-items {
  i {
    color: $icon-color;
  }
  .sidebar-sub-heading {
    color: $category-heading-color;
  }
  a,
  .item,
  .sidebar-item-heading {
    color: $font-color;
  }
}

.sidebar-item {
  &.active {
    background-color: $highlight-color;
    &::after {
      width: 0;
      height: 0;
      content: "";
      top: 0;
      right: -10px;
      position: absolute;
      border-style: solid;
      border-width: 17.5px 0 17.5px 10px;
      border-color: transparent transparent transparent $highlight-color;
    }
  }
}

.ui.message.user-account-control {
  box-shadow: none;
  border-radius: 0;
  background-color: #EBEBEB;
  border-color: $sidebar-border-color;
  .content {
    overflow: hidden;
  }
}
