@import "../../styles/settings";

:host {
  width: $sidebar-width-sm;
  @media (min-width: $sidebar-breakpoint-sm) {
    width: $sidebar-width;
  }
  .mat-expansion-panel {
    background: transparent;
  }
}

.studio-app-nav {
  margin-bottom: $spacing-conservative;
}

.sidebar-logo {
  height: 55px;
}

.studio-project-nav {
  margin: {
    bottom: 1px;
  }
}

.sidebar-actions {
  margin: 20px 30px;
  button {
    margin-bottom: 10px;
  }
}

.sidebar-item {
  position: relative;
}

.sidebar-items {
  padding-top: 10px;
}

.sidebar-sub-heading {
  text-transform: uppercase;
  margin: {
    top: 20px;
    bottom: 5px;
  };
  padding: {
    left: 15px;
    right: 15px;
  }
}

.sidebar-item,
.sidebar-item-heading {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  i {
    width: 20px;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 10px;
  }
}

.sidebar-item-heading {
  padding: 7px 0;
}

.sidebar-item-container {
  // TODO /deep/ is deprecated, use ::ng-deep
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 15px 5px !important;
  }
}

.ui.message.user-account-control {

  :host.independent-scroll & {
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    position: fixed;
    width: ($sidebar-width-sm+(-1)) !important;
    @media (min-width: 1200px) {
      width: ($sidebar-width+(-1)) !important;
    }
  }

  padding: 15px;
  margin-top: 0;
  overflow: hidden;
  border-top: 1px solid;

  .content .header,
  .content p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .image,
  .user.icon {
    width: 43px;
    margin-right: $spacing-sm;
    @media (max-width: 1199px) {
      display: none !important;
    }
  }

}

.workspace {
  &.heading {
    height: 3.5rem;
    overflow: hidden;
  }
  &.title {
    margin: 0;
    flex-grow: 1;
    padding: 0 0 0 0.6em;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.options {
    @include widths(5.5em);
    button {
      i {
        margin: 0;
        padding: 0;
      }
      &.close,
      &.change {

      }
      &.close {

      }
      &.change {

      }
    }
  }
}

/* Theme */

$font-color: #222222;
$icon-color: #777777;
$category-heading-color: #7f7f7f;
$highlight-color: #dcdcdc;

:host {
  border-color: $sidebar-border-color;
}

.sidebar-heading {
  &, &:hover, &:focus {
    background-color: rgba(0, 0, 0, .04) !important;
  }
}

.sidebar-items {
  i {

  }
  .sidebar-sub-heading {

  }
  a,
  .item,
  .sidebar-item-heading {

  }
}

.sidebar-item {
  &.active {
    &.pointer {
      &::after {
        width: 0;
        height: 0;
        content: "";
        top: 0;
        right: -10px;
        position: absolute;
        border-style: solid;
        border-width: 17.5px 0 17.5px 10px;
        border-color: transparent transparent transparent $highlight-color;
      }
    }
  }
}

