<h2 class="heading">
  <std-asset-display [id]="id" [showMenu]="false" [showLink]="false" class="icons above"></std-asset-display>
</h2>

<std-collapsible
  *ngIf="showGeneral"
  [title]="'General'"
  [closed]="closed.general"
  max="readability">
  <section class="properties" *ngIf="asset">
    <div class="property" *ngFor="let prop of properties">
      <div class="label">{{prop.label}}</div>
      <div class="value">{{prop.value}}</div>
    </div>
  </section>
</std-collapsible>

<std-collapsible
  *ngIf="showPermissions"
  [title]="'Permissions'"
  [closed]="closed.permissions"
  max="readability"></std-collapsible>
