<div class="view-container">
  <std-view-title-bar
    i18n-title
    title="Site Management"
    icon="fa fa-laptop">
    <button class="ui basic green button" [routerLink]="['/sites/create']">Create Site</button>
  </std-view-title-bar>
  <div class="content">

    <table class="ui selectable flat basic table">
      <thead class="uppercase">
      <tr>
        <th>Handle</th>
        <th>Name</th>
        <th>Description</th>
        <th>Groups</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="4">
          <mat-form-field class="no-subscript no-infix no-underline with search icon">
            <input placeholder="Search..." i18n-placeholder
                   matInput type="text"
                   [formControl]="filterQuery">
          </mat-form-field>
        </td>
      </tr>
      <tr class="is-interactive highlight-interaction bg"
          *ngFor="let site of sites" [routerLink]="['/sites', site.code]">
        <td>{{site.code}}</td>
        <td>{{site.name}}</td>
        <td>{{site.description}}</td>
        <td>{{site.groups || 0}}</td>
      </tr>
      </tbody>
    </table>

    <mat-paginator (page)="pageChanged($event)"
                   [length]="totalNumOfSites"
                   [pageIndex]="(pager$ | async).pageIndex"
                   [pageSize]="(pager$ | async).pageSize"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

  </div>
</div>
