@import '../../styles/settings';
@import '~@angular/material/theming';

$contained-layout-widths: (
  1200: 1200,
  1300: 1300,
  1400: 1400,
  1500: 1500,
  1600: 1600,
  1800: 1800,
  2000: 2000,
  2500: 2500,
  3000: 3000
);

@mixin common-flex {
  flex: 1;
  display: flex;
  overflow: hidden;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &[max-width] {
    margin: auto;
    @include mat-elevation(5);
  }
  @each $key, $max in $contained-layout-widths {
    &[max-width="#{$max}"] {
      max-width: #{$max}px;
    }
  }
}

mat-sidenav-container {
  flex: 1;
  display: flex;
  ::ng-deep > .mat-sidenav-content,
  ::ng-deep > .mat-drawer-content {
    @include common-flex;
    height: 100vh;
  }
}

.studio-content-wrapper {
  //@include common-flex;
  //flex-direction: column;
  //> .wrapper {
  //  position: relative;
  //  @include common-flex;
  //  > .content.wrapper {
  //    @include common-flex;
  //    flex-direction: column;
  //  }
  //}
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "GlobalNav Content";
  grid-template-columns: 60px auto;
  @media (max-width: 699px) {
    grid-template-areas:
      "GlobalNav" "Content";
  }
  &.has-sidebar {
    grid-template-areas:
      "GlobalNav Sidebar Content";
    grid-template-columns: 60px 220px auto;
    @media (max-width: 699px) {
      grid-template-areas:
        "GlobalNav" "Sidebar" "Content";
    }
  }
}

.main-router-wrapper {
  position: relative;
  flex-direction: row;
  @include common-flex;
  grid-area: Content;
}

::ng-deep .main-router-wrapper > *:not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
  flex: 1;
  width: 100%;
  display: block;
  min-width: 100%;
}
