<mat-sidenav-container>

  <div class="studio-content-wrapper" [ngClass]="{ 'has-sidebar': showProjectSidebar }">

    <std-global-nav
      [items]="globalNavItems">
    </std-global-nav>

    <std-project-bar
      *ngIf="showProjectBadge"
      [links]="projectNavItems"
      [trees]="projectTreeItems"
      [attr.hidden]="showProjectSidebar ? null : true">
    </std-project-bar>

    <std-topbar class="above" *ngIf="settings.topBarShown"></std-topbar>

    <div class="main-router-wrapper" [@navigation]="navState">
      <router-outlet></router-outlet>
    </div>

    <std-footer class="below" *ngIf="settings.footerShown"></std-footer>

  </div>

  <!-- QUICK PANEL -- >
  <mat-sidenav stdMatSidenavHelper="quick-panel" align="end">
    <std-quick-panel></std-quick-panel>
  </mat-sidenav>
  <!-- / QUICK PANEL -->

</mat-sidenav-container>
