<div *ngIf="loading && !asset">
  <i class="fa fa-spinner"></i> <span translate>Loading</span>&hellip;
</div>

<div *ngIf="error">
  <mat-icon class="red text">warning</mat-icon> <span translate>Error loading asset</span> (<a translate (click)="ngOnChanges$.next()">retry</a>)
</div>

<ng-container *ngIf="asset">

  <mat-checkbox
    id="assetDisplay{{count}}"
    *ngIf="showCheck && checkMode === 'state'"
    (change)="selectedStateChange($event.checked)"
    [ngModel]="selected">
  </mat-checkbox>

  <mat-checkbox
    id="assetDisplay{{count}}"
    *ngIf="showCheck && checkMode === 'local'"
    (change)="checkedStateChange($event.checked)"
    [ngModel]="checked">
  </mat-checkbox>

  <div *ngIf="showIcons && (showTypeIcon || showStatusIcons)" class="icons" [title]="iconDescription">
    <i [class]="typeClass" [class.visibility-hidden]="!showTypeIcon"></i>
    <i *ngIf="showStatusIcons" [class]="statusClass"></i>
    <i *ngIf="asset.locked && showStatusIcons" [class]="lockClass"></i>
  </div>

  <ng-container *ngIf="showLabel" [ngSwitch]="navigable">
    <label *ngSwitchCase="false" class="label" [ngClass]="{ 'cursor pointer': showCheck }" title="{{ label }}" [attr.for]="'assetDisplay' + count + '-input'">{{ label }}</label>
    <a *ngSwitchCase="true" class="label" title="{{ label }}" (click)="navigate($event)">{{ label }}</a>
  </ng-container>

  <ng-container *ngIf="shouldShowMenu">
    <std-asset-menu [ids]="[id]"></std-asset-menu>
  </ng-container>

</ng-container>
