<ng-container *ngIf="asset">

  <mat-checkbox
    *ngIf="showCheck"
    [ngModel]="selected"
    (change)="checkedStateChange($event.checked)">
  </mat-checkbox>

  <div *ngIf="showIcons && (this.showTypeIcon || this.showStatusIcons)" [class]="'icons ' + typeClass + ' ' + statusClass" [title]="iconDescription">
    <i [class.visibility-hidden]="!showTypeIcon" [class]="'type fa ' + typeClass"></i>
    <i *ngIf="showStatusIcons" [class]="'status fa ' + statusClass"></i>
    <i *ngIf="asset.locked && showStatusIcons" [class]="'lock fa ' + (lockedByCurrent ? 'yourself' : '')"></i>
  </div>

  <ng-container *ngIf="showLabel" [ngSwitch]="navigable">
    <div *ngSwitchCase="false" class="label" title="{{ label }}">{{ label }}</div>
    <a *ngSwitchCase="true" class="label" title="{{ label }}" (click)="navigate()">{{ label }}</a>
  </ng-container>

  <ng-container *ngIf="shouldShowMenu">
    <button class="simple menu" (click)="menuButtonClicked($event)" [matMenuTriggerFor]="assetMenu">
      <i class="material-icons">more_horiz</i>
    </button>
    <mat-menu class="mat-menu-compact" #assetMenu="matMenu">
      <ng-container *ngFor="let option of menu">
        <button mat-menu-item
                (click)="menuItemSelected(option.action)">
          {{option.label}}
        </button>
        <div class="mat-menu-divider" *ngIf="option.divider"></div>
      </ng-container>
    </mat-menu>
  </ng-container>

</ng-container>
